In [11]:
# importações
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from utils import *

In [12]:
# mostrar todas as colunas do df
pd.set_option('display.max_columns', None)

In [13]:
dict_05 = open_pnad_dict('data/dict/Dicionario_PNAD_COVID_052020_20220621.xls')
dict_06 = open_pnad_dict('data/dict/Dicionario_PNAD_COVID_062020_20220621.xls')
dict_07 = open_pnad_dict('data/dict/Dicionario_PNAD_COVID_072020_20220621.xls')
dict_08 = open_pnad_dict('data/dict/Dicionario_PNAD_COVID_082020_20220621.xls')
dict_09 = open_pnad_dict('data/dict/Dicionario_PNAD_COVID_092020_20220621.xls')
dict_10 = open_pnad_dict('data/dict/Dicionario_PNAD_COVID_102020_20220621.xls')
dict_11 = open_pnad_dict('data/dict/Dicionario_PNAD_COVID_112020_20220621.xls')

dicts = [dict_05, dict_06, dict_07, dict_08, dict_09, dict_10, dict_11]

for d in dicts:
    print(f'shape: {d.shape}')

shape: (528, 5)
shape: (528, 5)
shape: (641, 5)
shape: (641, 5)
shape: (641, 5)
shape: (641, 5)
shape: (656, 5)

In [14]:
dict_05_clean = clean_pnad_dict(dict_05)
dict_06_clean = clean_pnad_dict(dict_06)
dict_07_clean = clean_pnad_dict(dict_07)
dict_08_clean = clean_pnad_dict(dict_08)
dict_09_clean = clean_pnad_dict(dict_09)
dict_10_clean = clean_pnad_dict(dict_10)
dict_11_clean = clean_pnad_dict(dict_11)

dicts_clean = [dict_05_clean, dict_06_clean, dict_07_clean, dict_08_clean, dict_09_clean, dict_10_clean, dict_11_clean]

for d in dicts_clean:
    print(f'shape: {d.shape}')

shape: (528, 5)
shape: (528, 5)
shape: (641, 5)
shape: (641, 5)
shape: (641, 5)
shape: (641, 5)
shape: (656, 5)

In [15]:
pnad_dict = merge_dicts(dicts_clean)

pnad_dict

,questao,descricao,categoria,tipo,valor
3,UF,NaN,Unidade da Federação,11,Rondônia
4,UF,NaN,Unidade da Federação,12,Acre
5,UF,NaN,Unidade da Federação,13,Amazonas
6,UF,NaN,Unidade da Federação,14,Roraima
7,UF,NaN,Unidade da Federação,15,Pará
...,...,...,...,...,...
155,A007A,A7a,Por que não realizou as atividades disponibili...,3,Por problemas de saúde da própria pessoa
156,A007A,A7a,Por que não realizou as atividades disponibili...,4,"Tinha que cuidar dos afazeres domésticos, do(s..."
157,A007A,A7a,Por que não realizou as atividades disponibili...,5,Não conseguiu se concentrar
158,A007A,A7a,Por que não realizou as atividades disponibili...,6,Outro motivo. Especifique.
159,A007A,A7a,Por que não realizou as atividades disponibili...,6,Não aplicável

In [16]:
# visualizar todas as questões
questao_dict = map_code_questao(pnad_dict, key='questao', value='categoria')

questao_dict

{'UF': 'Unidade da Federação',
 'CAPITAL': 'Capital',
 'RM_RIDE': 'Região Metropolitana e Região Administrativa Integrada de Desenvolvimento',
 'V1008': 'Número de seleção do domicílio',
 'V1012': 'Semana no mês',
 'V1013': 'Mês da pesquisa',
 'V1016': 'Número da entrevista no domicílio',
 'Estrato': 'Estrato',
 'UPA': 'UPA',
 'V1022': 'Situação do domicílio',
 'V1023': 'Tipo de área',
 'V1030': 'Projeção da população',
 'V1031': 'Peso do domicílio e das pessoas',
 'V1032': 'Peso do domicílio e das pessoas',
 'posest': 'Domínios de projeção',
 'A001': 'Número de ordem',
 'A001A': 'Condição no domicílio',
 'A001B1': 'Dia de nascimento',
 'A001B2': 'Mês de nascimento',
 'A001B3': 'Ano de nascimento',
 'A002': 'Idade do morador ',
 'A003': 'Sexo',
 'A004': 'Cor ou raça',
 'A005': 'Escolaridade',
 'B0011': 'Na semana passada teve febre?',
 'B0012': 'Na semana passada teve tosse?',
 'B0013': 'Na semana passada teve dor de garganta?',
 'B0014': 'Na semana passada teve dificuldade para respirar?',
 'B0015': 'Na semana passada teve dor de cabeça?',
 'B0016': 'Na semana passada teve dor no peito?',
 'B0017': 'Na semana passada teve náusea?',
 'B0018': 'Na semana passada teve nariz entupido ou escorrendo?',
 'B0019': 'Na semana passada teve fadiga?',
 'B00110': 'Na semana passada teve dor nos olhos?',
 'B00111': 'Na semana passada teve perda de cheiro ou sabor?',
 'B00112': 'Na semana passada teve dor muscular?',
 'B002': 'Por causa disso, foi a algum estabelecimento de saúde?',
 'B0031': 'Providência tomada para recuperar dos sintomas foi ficar em casa',
 'B0032': 'Providência tomada para recuperar dos sintomas foi ligar para algum profissional de saúde',
 'B0033': 'Providência tomada para recuperar dos sintomas foi comprar e ou ou tomar remédio por conta própria',
 'B0034': 'Providência tomada para recuperar dos sintomas foi comprar e ou ou tomar remédio por orientação médica',
 'B0035': 'Providência tomada para recuperar dos sintomas foi receber visita de algum profissional de saúde do SUS (equipe de saúde da família, agente comunitário, etc.)',
 'B0036': 'Providência tomada para recuperar dos sintomas foi receber visita de profissional de saúde particular ',
 'B0037': 'Providência tomada para recuperar dos sintomas foi outra',
 'B0041': 'Local que buscou atendimento foi posto de saúde ou Unidade básica de saúde  ou Equipe de Saúde da Família (médico, enfermeiro, técnico de enfermagem ou agente comunitário de saúde)',
 'B0042': 'Local que buscou atendimento foi pronto socorro do SUS ou UPA',
 'B0043': 'Local que buscou atendimento foi hospital do SUS',
 'B0044': 'Local que buscou atendimento foi ambulatório ou consultório privado ou ligado às forças armadas',
 'B0045': 'Local que buscou atendimento foi pronto socorro privado ou ligado às forças armadas',
 'B0046': 'Local que buscou atendimento foi hospital privado ou ligado às forças armadas',
 'B005': 'Ao procurar o hospital, teve que ficar internado por um dia ou mais',
 'B006': 'Durante a internação, foi sedado, entubado e colocado em respiração artificial com ventilador',
 'B007': 'Tem algum plano de saúde médico, seja particular, de empresa ou de órgão público',
 'C001': 'Na semana passada, por pelo menos uma hora, trabalhou ou fez algum bico?',
 'C002': 'Na semana passada, estava temporariamente afastado de algum trabalho?',
 'C003': 'Qual o principal motivo deste afastamento temporário?',
 'C004': 'Continuou a ser remunerado (mesmo que parcialmente) por esse trabalho',
 'C005': 'Há quanto tempo está afastado desse trabalho?',
 'C0051': ' tempo que estava afastado (De 1 mês a menos de 1 ano) ',
 'C0052': 'tempo que estava afastado (De 1 ano a menos de 2 anos) ',
 'C0053': 'tempo que estava afastado (de 02 anos a 98 anos) ',
 'C006': 'Tem mais de um trabalho',
 'C007': 'No trabalho (único ou principal) que tinha nessa semana, era:',
 'C007A': 'Esse trabalho era na área:',
 'C007B': 'Tem carteira de trabalho assinada ou é funcionário público estatutário?',
 'C007C': 'Que tipo de trabalho, cargo ou função você realiza no seu trabalho (único ou principal)? ',
 'C007D': 'Qual é a principal atividade do local ou empresa em que você trabalha? ',
 'C007E': 'Na semana passada, quantos empregados trabalhavam nesse negócio ou empresa que ... tinha ?',
 'C007E1': '1 a 5 empregados',
 'C007E2': '6 a 10 empregados',
 'C008': 'Quantas horas, por semana, normalmente trabalhava?',
 'C009': 'Quantas horas, na semana passada, de fato trabalhou?',
 'C010': 'Quanto recebia (ou retirava) normalmente em todos os seus trabalhos',
 'C0101': 'Recebia ou retirava normalmente em dinheiro',
 'C01011': 'Número da faixa do rendimento ou retirada em dinheiro',
 'C01012': 'Valor em dinheiro',
 'C0102': 'Recebia normalmente em produtos e mercadorias',
 'C01021': 'Número da faixa do rendimento ou retirada em produtos e mercadorias',
 'C01022': 'Valor em produtos e mercadorias',
 'C0103': 'Recebia normalmente somente em benefícios',
 'C0104': 'Era não remunerado',
 'C011A': 'Quanto recebia (ou retirava) efetivamente em todos os seus trabalhos',
 'C011A1': 'Recebia ou retirava efetivamente em dinheiro',
 'C011A11': 'Número da faixa do rendimento ou retirada em dinheiro',
 'C011A12': 'Valor em dinheiro',
 'C011A2': 'Recebia efetivamente em produtos e mercadorias',
 'C011A21': 'Número da faixa do rendimento ou retirada em produtos e mercadorias',
 'C011A22': 'Valor em produtos e mercadorias',
 'C012': 'Na maior parte do tempo, na semana passada, esse trabalho (único ou principal) foi exercido no mesmo local em que costuma trabalhar? ',
 'C013': 'Na semana passada, o(a) Sr(a) estava em trabalho remoto (home office ou teletrabalho)?',
 'C014': 'O(A) Sr(a) contribui para o INSS? ',
 'C015': 'Na semana passada ___ tomou alguma providência efetiva para conseguir trabalho? ',
 'C016': 'Qual o principal motivo de não ter procurado trabalho na semana passada? ',
 'C017A': 'Embora você não tenha procurado trabalho, gostaria de ter trabalhado na semana passada?',
 'D0011': 'Rendimento recebido de aposentadoria e pensão por todos os moradores',
 'D0013': 'Somatório dos valores recebidos',
 'D0021': 'Rendimento de pensão alimentícia, doação ou mesada em dinheiro de pessoa que não morava no domicílio',
 'D0023': 'Somatório dos valores recebidos',
 'D0031': 'Rendimentos de Programa Bolsa Família',
 'D0033': 'Somatório dos valores recebidos',
 'D0041': ' No mês de ... (mês de referência), ... recebeu rendimentos de Benefício Assistencial de Prestação Continuada – BPC-LOAS?',
 'D0043': 'Somatório dos valores recebidos',
 'D0051': 'Auxílios emergenciais relacionados ao coronavirus',
 'D0053': 'Somatório dos valores recebidos',
 'D0061': 'Seguro desemprego',
 'D0063': 'Somatório dos valores recebidos',
 'D0071': 'Outros rendimentos, como aluguel, arrendamento, previdência privada, bolsa de estudos, rendimentos de aplicação financeira etc.',
 'D0073': 'Somatório dos valores recebidos',
 'F001': 'Este domicílio é: ',
 'F0021': 'Qual foi o valor mensal do aluguel pago, ou que deveria ter sido pago, no mês de referência?',
 'F0022': 'Número da faixa do aluguel pago',
 'F0061': 'Quem respondeu ao questionário?',
 'F006': 'Número de ordem do morador que prestou as informações',
 'A006': 'Frequenta escola',
 'A007': 'Na semana passada, _____ foram disponibilizadas atividades escolares para realizar em casa?',
 'A008': 'Na semana passada, em quantos dias _____ dedicou-se às atividades escolares? ',
 'A009': 'Na semana passada, quanto tempo por dia ____ gastou fazendo as atividades escolares? escolares? ',
 'B00113': 'Na semana passada teve diarreia?',
 'B008': 'O(A) Sr(a) fez algum teste para saber se estava infectado(a) pelo coronavírus? ',
 'B009A': 'Fez o exame coletado com cotonete na boca e ou ou nariz (SWAB)? ',
 'B009B': 'Qual o resultado?',
 'B009C': 'Fez o exame de coleta de sangue através de furo no dedo?',
 'B009D': 'Qual o resultado?',
 'B009E': 'Fez o exame de coleta de sangue através da veia da braço?',
 'B009F': 'Qual o resultado?',
 'B0101': 'Algum médico já lhe deu o diagnóstico de diabetes?',
 'B0102': 'Algum médico já lhe deu o diagnóstico de hipertensão?',
 'B0103': 'Algum médico já lhe deu o diagnóstico de asma ou bronquite ou enfisema ou doenças respiratória crônica ou doença de pulmão?',
 'B0104': 'Algum médico já lhe deu o diagnóstico de doenças do coração (infarto, angina, insuficiência cardíaca, arritmia)?',
 'B0105': 'Algum médico já lhe deu o diagnóstico de depressão?',
 'B0106': 'Algum médico já lhe deu o diagnóstico de câncer?',
 'B011': 'Qual foi o resultado do teste? Na semana passada, devido à pandemia do Coronavírus, em que medida o(a) Sr(a) restringiu o contato com as pessoas? ',
 'C007F': 'No trabalho (único ou principal) que tinha nessa semana, o(a) Sr(a) estava com o contrato de trabalho suspenso?',
 'C009A': 'Na semana passada, o(a) Sr(a) gostaria de ter trabalhado mais horas do que as de fato trabalhadas? ',
 'E001': 'Durante o período da pandemia alguém deste domicílio solicitou algum empréstimo? ',
 'E0021': 'Este empréstimo foi adquirido com banco ou financeira',
 'E0022': 'Este empréstimo foi adquirido com parente ou amigo',
 'E0023': 'Este empréstimo foi adquirido com empregados ou patrão',
 'E0024': 'Este empréstimo foi adquirido com outro local ou pessoa',
 'F002A1': 'No seu domicílio há os seguintes itens básicos de limpeza e proteção: sabão ou detergente',
 'F002A2': 'No seu domicílio há os seguintes itens básicos de limpeza e proteção: álcool 70_por_cento ou superior (gel ou líquido)',
 'F002A3': 'No seu domicílio há os seguintes itens básicos de limpeza e proteção: máscaras',
 'F002A4': 'No seu domicílio há os seguintes itens básicos de limpeza e proteção: luvas descartáveis',
 'F002A5': 'No seu domicílio há os seguintes itens básicos de limpeza e proteção: água sanitária ou desinfetante',
 'A006A': 'A escola  ou  escola ou faculdade que frequenta é pública ou privada?',
 'A006B': 'Você está tendo aulas presenciais?',
 'A007A': 'Por que não realizou as atividades disponibilizadas na semana passada?'}

**dúvida:** são no mínimo 20 questões OU 20 questões - para uma boa análise, seria legal abordar mais questões. Para salvar no banco de dados, podemos preparar um dashboard a partir das 20 principais questões relacionadas, mas armazenar todos os dados em planilhas focadas em temas.

In [17]:
df_06 = pd.read_csv('data/micro/PNAD_COVID_062020.csv',
                    decimal=',', thousands='.', encoding='latin1')

df_07 = pd.read_csv('data/micro/PNAD_COVID_072020.csv',
                    decimal=',', thousands='.', encoding='latin1')

df_08 = pd.read_csv('data/micro/PNAD_COVID_082020.csv',
                    decimal=',', thousands='.', encoding='latin1')

df_09 = pd.read_csv('data/micro/PNAD_COVID_092020.csv',
                    decimal=',', thousands='.', encoding='latin1')

df_10 = pd.read_csv('data/micro/PNAD_COVID_102020.csv',
                    decimal=',', thousands='.', encoding='latin1')

df_11 = pd.read_csv('data/micro/PNAD_COVID_112020.csv',
                    decimal=',', thousands='.', encoding='latin1')

dfs = [df_06, df_07, df_08, df_09, df_10, df_11]

for d in dfs:
    print(f'shape: {d.shape}')

shape: (381270, 114)
shape: (384166, 145)
shape: (386520, 145)
shape: (387298, 145)
shape: (380461, 145)
shape: (381438, 148)

In [18]:
# read microdata
df = read_microdata(dfs)
# por enquanto, todos os dados são do tipo float
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2301153 entries, 0 to 381437
Columns: 148 entries, Ano to A007A
dtypes: float64(103), int64(45)
memory usage: 2.6 GB

In [19]:
# relacionar códigos e nomes de estados
uf = pnad_dict.query('questao == "UF"')[['tipo', 'valor']].copy()

# into dict
uf_dict = dict(zip(uf.tipo, uf.valor))

uf_dict

{11: 'Rondônia',
 12: 'Acre',
 13: 'Amazonas',
 14: 'Roraima',
 15: 'Pará',
 16: 'Amapá',
 17: 'Tocantins',
 21: 'Maranhão',
 22: 'Piauí',
 23: 'Ceará',
 24: 'Rio Grande do Norte',
 25: 'Paraíba',
 26: 'Pernambuco',
 27: 'Alagoas',
 28: 'Sergipe',
 29: 'Bahia',
 31: 'Minas Gerais',
 32: 'Espírito Santo',
 33: 'Rio de Janeiro',
 35: 'São Paulo',
 41: 'Paraná',
 42: 'Santa Catarina',
 43: 'Rio Grande do Sul',
 50: 'Mato Grosso do Sul',
 51: 'Mato Grosso',
 52: 'Goiás',
 53: 'Distrito Federal'}

In [20]:
# meses: 9, 10, 11
df_9a11 = df = read_microdata([df_09, df_10, df_11])

df_9a11.head()

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,V1022,V1023,V1030,V1031,V1032,posest,A001,A001A,A001B1,A001B2,A001B3,A002,A003,A004,A005,A006,A007,A008,A009,B0011,B0012,B0013,B0014,B0015,B0016,B0017,B0018,B0019,B00110,B00111,B00112,B00113,B002,B0031,B0032,B0033,B0034,B0035,B0036,B0037,B0041,B0042,B0043,B0044,B0045,B0046,B005,B006,B007,B008,B009A,B009B,B009C,B009D,B009E,B009F,B0101,B0102,B0103,B0104,B0105,B0106,B011,C001,C002,C003,C004,C005,C0051,C0052,C0053,C006,C007,C007A,C007B,C007C,C007D,C007E,C007E1,C007E2,C007F,C008,C009,C009A,C010,C0101,C01011,C01012,C0102,C01021,C01022,C0103,C0104,C011A,C011A1,C011A11,C011A12,C011A2,C011A21,C011A22,C012,C013,C014,C015,C016,C017A,D0011,D0013,D0021,D0023,D0031,D0033,D0041,D0043,D0051,D0053,D0061,D0063,D0071,D0073,E001,E0021,E0022,E0023,E0024,F001,F0021,F0022,F002A1,F002A2,F002A3,F002A4,F002A5,F0061,F006,A006A,A006B,A007A
0,2020,11,11.0,NaN,1,4,9,5,1110011,110015970,1,1,152677,13393337786,16420936068,1114,1,1,5,8,1984,36,1,4,5,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,NaN,1.0,35.0,6.0,NaN,NaN,NaN,NaN,48.0,48.0,NaN,1.0,1.0,4.0,1045.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,4.0,1045.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,1200.0,2,NaN,2,NaN,3,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,1,2,1,1,1.0,NaN,NaN,NaN
1,2020,11,11.0,NaN,1,4,9,5,1110011,110015970,1,1,150642,13393337786,16694461021,1124,2,2,18,8,1990,30,2,4,7,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,7.0,NaN,NaN,27.0,20.0,NaN,NaN,NaN,NaN,36.0,36.0,2.0,1.0,1.0,4.0,1045.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,4.0,1045.0,NaN,NaN,NaN,1.0,NaN,2.0,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,1200.0,2,NaN,2,NaN,3,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,1,2,1,1,1.0,NaN,NaN,NaN
2,2020,11,11.0,NaN,1,4,9,5,1110011,110015970,1,1,145237,13393337786,17188775372,1112,3,4,25,12,2006,13,1,4,2,1.0,1.0,5.0,3.0,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,1200.0,2,NaN,2,NaN,3,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,1,2,1,1,1.0,NaN,NaN,NaN
3,2020,11,11.0,NaN,1,4,9,5,1110011,110015970,1,1,145237,13393337786,17188775372,1112,4,4,24,8,2009,11,1,4,2,1.0,1.0,5.0,3.0,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,1200.0,2,NaN,2,NaN,3,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,1,2,1,1,1.0,NaN,NaN,NaN
4,2020,11,11.0,NaN,2,1,9,5,1110011,110015970,1,1,91889,13393337786,12753668218,1126,1,1,18,5,1963,57,2,1,2,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,1.0,1.0,2,NaN,2,NaN,2,NaN,1,1045.0,2,NaN,2,NaN,2,NaN,3,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,1,2,1,1,1.0,NaN,NaN,NaN

In [21]:
# sigla UF para nome do estado
df_9a11['UF'] = df_9a11['UF'].map(uf_dict)

df_9a11.head()

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,V1022,V1023,V1030,V1031,V1032,posest,A001,A001A,A001B1,A001B2,A001B3,A002,A003,A004,A005,A006,A007,A008,A009,B0011,B0012,B0013,B0014,B0015,B0016,B0017,B0018,B0019,B00110,B00111,B00112,B00113,B002,B0031,B0032,B0033,B0034,B0035,B0036,B0037,B0041,B0042,B0043,B0044,B0045,B0046,B005,B006,B007,B008,B009A,B009B,B009C,B009D,B009E,B009F,B0101,B0102,B0103,B0104,B0105,B0106,B011,C001,C002,C003,C004,C005,C0051,C0052,C0053,C006,C007,C007A,C007B,C007C,C007D,C007E,C007E1,C007E2,C007F,C008,C009,C009A,C010,C0101,C01011,C01012,C0102,C01021,C01022,C0103,C0104,C011A,C011A1,C011A11,C011A12,C011A2,C011A21,C011A22,C012,C013,C014,C015,C016,C017A,D0011,D0013,D0021,D0023,D0031,D0033,D0041,D0043,D0051,D0053,D0061,D0063,D0071,D0073,E001,E0021,E0022,E0023,E0024,F001,F0021,F0022,F002A1,F002A2,F002A3,F002A4,F002A5,F0061,F006,A006A,A006B,A007A
0,2020,Rondônia,11.0,NaN,1,4,9,5,1110011,110015970,1,1,152677,13393337786,16420936068,1114,1,1,5,8,1984,36,1,4,5,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,NaN,1.0,35.0,6.0,NaN,NaN,NaN,NaN,48.0,48.0,NaN,1.0,1.0,4.0,1045.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,4.0,1045.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,1200.0,2,NaN,2,NaN,3,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,1,2,1,1,1.0,NaN,NaN,NaN
1,2020,Rondônia,11.0,NaN,1,4,9,5,1110011,110015970,1,1,150642,13393337786,16694461021,1124,2,2,18,8,1990,30,2,4,7,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,7.0,NaN,NaN,27.0,20.0,NaN,NaN,NaN,NaN,36.0,36.0,2.0,1.0,1.0,4.0,1045.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,4.0,1045.0,NaN,NaN,NaN,1.0,NaN,2.0,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,1200.0,2,NaN,2,NaN,3,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,1,2,1,1,1.0,NaN,NaN,NaN
2,2020,Rondônia,11.0,NaN,1,4,9,5,1110011,110015970,1,1,145237,13393337786,17188775372,1112,3,4,25,12,2006,13,1,4,2,1.0,1.0,5.0,3.0,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,1200.0,2,NaN,2,NaN,3,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,1,2,1,1,1.0,NaN,NaN,NaN
3,2020,Rondônia,11.0,NaN,1,4,9,5,1110011,110015970,1,1,145237,13393337786,17188775372,1112,4,4,24,8,2009,11,1,4,2,1.0,1.0,5.0,3.0,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,1200.0,2,NaN,2,NaN,3,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,1,2,1,1,1.0,NaN,NaN,NaN
4,2020,Rondônia,11.0,NaN,2,1,9,5,1110011,110015970,1,1,91889,13393337786,12753668218,1126,1,1,18,5,1963,57,2,1,2,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,1.0,1.0,2,NaN,2,NaN,2,NaN,1,1045.0,2,NaN,2,NaN,2,NaN,3,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,1,2,1,1,1.0,NaN,NaN,NaN

In [22]:
df_9a11.head()

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,V1022,V1023,V1030,V1031,V1032,posest,A001,A001A,A001B1,A001B2,A001B3,A002,A003,A004,A005,A006,A007,A008,A009,B0011,B0012,B0013,B0014,B0015,B0016,B0017,B0018,B0019,B00110,B00111,B00112,B00113,B002,B0031,B0032,B0033,B0034,B0035,B0036,B0037,B0041,B0042,B0043,B0044,B0045,B0046,B005,B006,B007,B008,B009A,B009B,B009C,B009D,B009E,B009F,B0101,B0102,B0103,B0104,B0105,B0106,B011,C001,C002,C003,C004,C005,C0051,C0052,C0053,C006,C007,C007A,C007B,C007C,C007D,C007E,C007E1,C007E2,C007F,C008,C009,C009A,C010,C0101,C01011,C01012,C0102,C01021,C01022,C0103,C0104,C011A,C011A1,C011A11,C011A12,C011A2,C011A21,C011A22,C012,C013,C014,C015,C016,C017A,D0011,D0013,D0021,D0023,D0031,D0033,D0041,D0043,D0051,D0053,D0061,D0063,D0071,D0073,E001,E0021,E0022,E0023,E0024,F001,F0021,F0022,F002A1,F002A2,F002A3,F002A4,F002A5,F0061,F006,A006A,A006B,A007A
0,2020,Rondônia,11.0,NaN,1,4,9,5,1110011,110015970,1,1,152677,13393337786,16420936068,1114,1,1,5,8,1984,36,1,4,5,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,NaN,1.0,35.0,6.0,NaN,NaN,NaN,NaN,48.0,48.0,NaN,1.0,1.0,4.0,1045.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,4.0,1045.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,1200.0,2,NaN,2,NaN,3,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,1,2,1,1,1.0,NaN,NaN,NaN
1,2020,Rondônia,11.0,NaN,1,4,9,5,1110011,110015970,1,1,150642,13393337786,16694461021,1124,2,2,18,8,1990,30,2,4,7,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,7.0,NaN,NaN,27.0,20.0,NaN,NaN,NaN,NaN,36.0,36.0,2.0,1.0,1.0,4.0,1045.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,4.0,1045.0,NaN,NaN,NaN,1.0,NaN,2.0,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,1200.0,2,NaN,2,NaN,3,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,1,2,1,1,1.0,NaN,NaN,NaN
2,2020,Rondônia,11.0,NaN,1,4,9,5,1110011,110015970,1,1,145237,13393337786,17188775372,1112,3,4,25,12,2006,13,1,4,2,1.0,1.0,5.0,3.0,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,1200.0,2,NaN,2,NaN,3,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,1,2,1,1,1.0,NaN,NaN,NaN
3,2020,Rondônia,11.0,NaN,1,4,9,5,1110011,110015970,1,1,145237,13393337786,17188775372,1112,4,4,24,8,2009,11,1,4,2,1.0,1.0,5.0,3.0,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,1200.0,2,NaN,2,NaN,3,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,1,2,1,1,1.0,NaN,NaN,NaN
4,2020,Rondônia,11.0,NaN,2,1,9,5,1110011,110015970,1,1,91889,13393337786,12753668218,1126,1,1,18,5,1963,57,2,1,2,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,1.0,1.0,2,NaN,2,NaN,2,NaN,1,1045.0,2,NaN,2,NaN,2,NaN,3,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,1,2,1,1,1.0,NaN,NaN,NaN

In [23]:
identificacao = {
    'UF': 'uf',
    'V1012': 'semana',
    'V1013': 'mes',
    'V1016': 'no_entrevista',
    'Estrato': 'estrato',
    'UPA': 'upa',
    'F0061': 'respondente',
    'V1022': 'status_domicilio',
    'V1030': 'proj_populacao',
    'A001A': 'condicao_no_domicilio',
    'A002': 'idade_morador',
    'A003': 'sexo',
    'A004': 'cor_raca'
    }

id_df = make_df_from_dict(identificacao, df_9a11)

print(f'id_df: {id_df.shape}')
id_df.head()

id_df: (1149197, 13)

,uf,semana,mes,no_entrevista,estrato,upa,respondente,status_domicilio,proj_populacao,condicao_no_domicilio,idade_morador,sexo,cor_raca
0,Rondônia,4,9,5,1110011,110015970,1,1,152677,1,36,1,4
1,Rondônia,4,9,5,1110011,110015970,1,1,150642,2,30,2,4
2,Rondônia,4,9,5,1110011,110015970,1,1,145237,4,13,1,4
3,Rondônia,4,9,5,1110011,110015970,1,1,145237,4,11,1,4
4,Rondônia,1,9,5,1110011,110015970,1,1,91889,1,57,2,1

In [24]:
# map values of F0061
respondente_dict = map_code_questao(pnad_dict, 'F0061', key='tipo', value='valor')
# map in id_df
id_df['respondente'] = id_df['respondente'].map(respondente_dict)

# map values of V1022
status_domicilio_dict = map_code_questao(pnad_dict, 'V1022', key='tipo', value='valor')
id_df['status_domicilio'] = id_df['status_domicilio'].map(status_domicilio_dict)

# map values for A001A
a001a_dict = pnad_dict.query('questao == "A001A"').copy()
# tipo as int
a001a_dict['tipo'] = a001a_dict['tipo'].astype(int)

# map in id_df
condicao_no_domicilio_dict = map_code_questao(a001a_dict, 'A001A', key='tipo', value='valor')
id_df['condicao_no_domicilio'] = id_df['condicao_no_domicilio'].map(condicao_no_domicilio_dict)

# map values for A003
# where 1 = Masculino, 2 = Feminino
sexo_dict = {1: 'masculino', 2: 'feminino'}
id_df['sexo'] = id_df['sexo'].map(sexo_dict)

# map values for A004
cor_raca_dict = map_code_questao(pnad_dict, 'A004', key='tipo', value='valor')
id_df['cor_raca'] = id_df['cor_raca'].map(cor_raca_dict)

id_df.head()

,uf,semana,mes,no_entrevista,estrato,upa,respondente,status_domicilio,proj_populacao,condicao_no_domicilio,idade_morador,sexo,cor_raca
0,Rondônia,4,9,5,1110011,110015970,Pessoa moradora,Urbana,152677,Pessoa responsável pelo domicílio,36,masculino,Parda
1,Rondônia,4,9,5,1110011,110015970,Pessoa moradora,Urbana,150642,Cônjuge ou companheiro(a) de sexo diferente,30,feminino,Parda
2,Rondônia,4,9,5,1110011,110015970,Pessoa moradora,Urbana,145237,Filho(a) do responsável e do cônjuge,13,masculino,Parda
3,Rondônia,4,9,5,1110011,110015970,Pessoa moradora,Urbana,145237,Filho(a) do responsável e do cônjuge,11,masculino,Parda
4,Rondônia,1,9,5,1110011,110015970,Pessoa moradora,Urbana,91889,Pessoa responsável pelo domicílio,57,feminino,Branca

In [25]:
escola = {
    'A005': 'escolaridade',
    'A006': 'frequenta_escola',
    'A007': 'atividades_escolares_realizar_em_casa',
    'A008': 'dias_dedicados_atividades_escolares',
    'A009': 'tempo_diario_atividades_escolares',
    'A006A': 'ensino_publico_ou_privado',
    'A006B': 'tendo_aulas_presenciais'
    }

escola_df = make_df_from_dict(escola, df_9a11)

escola_df.head()

,escolaridade,frequenta_escola,atividades_escolares_realizar_em_casa,dias_dedicados_atividades_escolares,tempo_diario_atividades_escolares,ensino_publico_ou_privado,tendo_aulas_presenciais
0,5,NaN,NaN,NaN,NaN,NaN,NaN
1,7,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1.0,1.0,5.0,3.0,NaN,NaN
3,2,1.0,1.0,5.0,3.0,NaN,NaN
4,2,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# query A005
escolaridade_dict = map_code_questao(pnad_dict, 'A005', key='tipo', value='valor')

# map in escola_df
escola_df['escolaridade'] = escola_df['escolaridade'].map(escolaridade_dict)

escola_df.head()

,escolaridade,frequenta_escola,atividades_escolares_realizar_em_casa,dias_dedicados_atividades_escolares,tempo_diario_atividades_escolares,ensino_publico_ou_privado,tendo_aulas_presenciais
0,Médio completo,NaN,NaN,NaN,NaN,NaN,NaN
1,Superior completo,NaN,NaN,NaN,NaN,NaN,NaN
2,Fundamental incompleto,1.0,1.0,5.0,3.0,NaN,NaN
3,Fundamental incompleto,1.0,1.0,5.0,3.0,NaN,NaN
4,Fundamental incompleto,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# A005
# map values 1 = sim, 2 = não
freq_escola_dict = {1: 'Sim', 2: 'Não'}

# map in escola_df
escola_df['frequenta_escola'] = escola_df['frequenta_escola'].map(freq_escola_dict)

# Nan to Não informado
escola_df['frequenta_escola'] = escola_df['frequenta_escola'].fillna('Não informado')

# value conts
escola_df['frequenta_escola'].value_counts()

frequenta_escola
Não informado    762761
Sim              239361
Não              147075
Name: count, dtype: int64

In [28]:
# A007
atividades_escolares_realizar_em_casa_dict = map_code_questao(pnad_dict, 'A007', key='tipo', value='valor')

# map in escola_df
escola_df['atividades_escolares_realizar_em_casa'] = escola_df['atividades_escolares_realizar_em_casa']\
    .map(atividades_escolares_realizar_em_casa_dict)
    
# if Nan = Não informado
escola_df['atividades_escolares_realizar_em_casa'] = escola_df['atividades_escolares_realizar_em_casa']\
    .fillna('Não informado / Não aplicável')
    
# make Não informado and Não aplicável as "Não informado / Não aplicável"
escola_df['atividades_escolares_realizar_em_casa'] = escola_df['atividades_escolares_realizar_em_casa']\
    .replace({'Não aplicável': 'Não informado / Não aplicável'})

escola_df['atividades_escolares_realizar_em_casa'].value_counts()

atividades_escolares_realizar_em_casa
Não informado / Não aplicável                  914674
Sim, e realizou pelo menos parte delas         197353
Não                                             31703
Sim, mas não realizou (por qualquer motivo)      5467
Name: count, dtype: int64

In [29]:
a008_dict = pnad_dict.query('questao == "A008"').copy()

# where tipo is 6, fill valor for "6 ou 7 dias / Não aplicável"
a008_dict['valor'] = np.where(a008_dict['tipo'] == 6, 
                            '6 ou 7 dias / Não aplicável', 
                            a008_dict['valor'])

# map_code_questao
a008_dict = map_code_questao(a008_dict, 'A008', key='tipo', value='valor')

# map in escola_df
escola_df['dias_dedicados_atividades_escolares'] = escola_df['dias_dedicados_atividades_escolares']\
    .map(a008_dict)

# if NaN = Não informado
escola_df['dias_dedicados_atividades_escolares'] = escola_df['dias_dedicados_atividades_escolares']\
    .fillna('Não informado')

escola_df['dias_dedicados_atividades_escolares'].value_counts()

dias_dedicados_atividades_escolares
Não informado                  951844
5 dias                         127438
3 dias                          29017
4 dias                          18327
2 dias                          11666
6 ou 7 dias / Não aplicável      6213
1 dia                            4692
Name: count, dtype: int64

In [30]:
# A009
a009_dict = pnad_dict.query('questao == "A009"').copy()
# if 4, fill valor for "5 horas ou mais / Não aplicável"
a009_dict['valor'] = np.where(a009_dict['tipo'] == 4, 
                            '5 horas ou mais / Não aplicável', 
                            a009_dict['valor'])

# map_code_questao
a009_dict = map_code_questao(a009_dict, 'A009', key='tipo', value='valor')

# map in escola_df
escola_df['tempo_diario_atividades_escolares'] = escola_df['tempo_diario_atividades_escolares']\
    .map(a009_dict)
    
# if NaN = Não informado
escola_df['tempo_diario_atividades_escolares'] = escola_df['tempo_diario_atividades_escolares']\
    .fillna('Não informado')

escola_df['tempo_diario_atividades_escolares'].value_counts()

tempo_diario_atividades_escolares
Não informado                      951844
De 2 horas a menos de 5 horas      101807
De 1 hora a menos de 2 horas        69670
5 horas ou mais / Não aplicável     16478
Menos de 1 hora                      9398
Name: count, dtype: int64

In [31]:
a006a_dict = pnad_dict.query('questao == "A006A"').copy()
# if 2 = Privada / Não aplicável
a006a_dict['valor'] = np.where(a006a_dict['tipo'] == 2, 
                            'Privada / Não aplicável', 
                            a006a_dict['valor'])

# map_code_questao
a006a_dict = map_code_questao(a006a_dict, 'A006A', key='tipo', value='valor')

# map in escola_df
escola_df['ensino_publico_ou_privado'] = escola_df['ensino_publico_ou_privado']\
    .map(a006a_dict)

# if NaN = Não informado
escola_df['ensino_publico_ou_privado'] = escola_df['ensino_publico_ou_privado']\
    .fillna('Não informado')
    
escola_df['ensino_publico_ou_privado'].value_counts()

ensino_publico_ou_privado
Não informado              1069904
Pública                      62143
Privada / Não aplicável      17150
Name: count, dtype: int64

In [32]:
a006b_dict = pnad_dict.query('questao == "A006B"').copy() # add copy em tudo o que for feito assim
# if 4 = Não, meu curso é online / Não aplicável
a006b_dict['valor'] = np.where(a006b_dict['tipo'] == 4, 
                            'Não, meu curso é online / Não aplicável', 
                            a006b_dict['valor'])

# map_code_questao
a006b_dict = map_code_questao(a006b_dict, 'A006B', key='tipo', value='valor')

# map in escola_df
escola_df['tendo_aulas_presenciais'] = escola_df['tendo_aulas_presenciais']\
    .map(a006b_dict)
    
# if NaN = Não informado
escola_df['tendo_aulas_presenciais'] = escola_df['tendo_aulas_presenciais']\
    .fillna('Não informado')

escola_df['tendo_aulas_presenciais'].value_counts()

tendo_aulas_presenciais
Não informado                                            1069904
Não, e meu normalmente é presencial ou semipresencial      55615
Não, meu curso é online / Não aplicável                    16962
Sim, mas apenas parcialmente                                4683
Sim, normalmente                                            2033
Name: count, dtype: int64

In [33]:
escola_df

,escolaridade,frequenta_escola,atividades_escolares_realizar_em_casa,dias_dedicados_atividades_escolares,tempo_diario_atividades_escolares,ensino_publico_ou_privado,tendo_aulas_presenciais
0,Médio completo,Não informado,Não informado / Não aplicável,Não informado,Não informado,Não informado,Não informado
1,Superior completo,Não informado,Não informado / Não aplicável,Não informado,Não informado,Não informado,Não informado
2,Fundamental incompleto,Sim,"Sim, e realizou pelo menos parte delas",5 dias,De 2 horas a menos de 5 horas,Não informado,Não informado
3,Fundamental incompleto,Sim,"Sim, e realizou pelo menos parte delas",5 dias,De 2 horas a menos de 5 horas,Não informado,Não informado
4,Fundamental incompleto,Não informado,Não informado / Não aplicável,Não informado,Não informado,Não informado,Não informado
...,...,...,...,...,...,...,...
381433,Fundamental completa,Não informado,Não informado / Não aplicável,Não informado,Não informado,Não informado,Não informado
381434,Superior completo,Não,Não informado / Não aplicável,Não informado,Não informado,Não informado,Não informado
381435,Fundamental completa,Sim,"Sim, e realizou pelo menos parte delas",5 dias,De 2 horas a menos de 5 horas,Pública,"Não, meu curso é online / Não aplicável"
381436,Fundamental incompleto,Não informado,Não informado / Não aplicável,Não informado,Não informado,Não informado,Não informado
381437,Fundamental incompleto,Não informado,Não informado / Não aplicável,Não informado,Não informado,Não informado,Não informado

In [34]:
itens_higiene = {
    'F002A1': 'domicilio_tem_sabao_detergente',
    'F002A2': 'domicilio_tem_alcool_70mais',
    'F002A3': 'domicilio_tem_mascaras',
    'F002A4': 'domicilio_tem_luvas_descartaveis',
    'F002A5': 'domicilio_tem_agua_sanitaria_desinfetante',
    }

itens_higiene_df = make_df_from_dict(itens_higiene, df_9a11)

itens_higiene_df.head()

,domicilio_tem_sabao_detergente,domicilio_tem_alcool_70mais,domicilio_tem_mascaras,domicilio_tem_luvas_descartaveis,domicilio_tem_agua_sanitaria_desinfetante
0,1,1,1,2,1
1,1,1,1,2,1
2,1,1,1,2,1
3,1,1,1,2,1
4,1,1,1,2,1

In [35]:
# map values for F002A1
f002a1_dict = map_code_questao(pnad_dict, 'F002A1', key='tipo', value='valor')

# map in itens_higiene_df
itens_higiene_df['domicilio_tem_sabao_detergente'] = itens_higiene_df['domicilio_tem_sabao_detergente']\
    .map(f002a1_dict)

# check nan
print('NaN: ', itens_higiene_df['domicilio_tem_sabao_detergente'].isna().sum())

# value counts
itens_higiene_df['domicilio_tem_sabao_detergente'].value_counts()

NaN:  0

domicilio_tem_sabao_detergente
Sim         1145377
Não            3529
Não sabe        291
Name: count, dtype: int64

In [36]:
# map values for F002A2
f002a2_dict = map_code_questao(pnad_dict, 'F002A2', key='tipo', value='valor')

# map in itens_higiene_df
itens_higiene_df['domicilio_tem_alcool_70mais'] = itens_higiene_df['domicilio_tem_alcool_70mais']\
    .map(f002a2_dict)

# check nan
print('NaN: ', itens_higiene_df['domicilio_tem_alcool_70mais'].isna().sum())

# value counts
itens_higiene_df['domicilio_tem_alcool_70mais'].value_counts()

NaN:  0

domicilio_tem_alcool_70mais
Sim         1106800
Não           41264
Não sabe       1133
Name: count, dtype: int64

In [37]:
# map values for F002A3
f002a3_dict = map_code_questao(pnad_dict, 'F002A3', key='tipo', value='valor')

# map in itens_higiene_df
itens_higiene_df['domicilio_tem_mascaras'] = itens_higiene_df['domicilio_tem_mascaras']\
    .map(f002a3_dict)

# check nan
print('NaN: ', itens_higiene_df['domicilio_tem_mascaras'].isna().sum())

# value counts
itens_higiene_df['domicilio_tem_mascaras'].value_counts()

NaN:  0

domicilio_tem_mascaras
Sim         1143683
Não            5240
Não sabe        274
Name: count, dtype: int64

In [38]:
# map values for F002A4
f002a4_dict = map_code_questao(pnad_dict, 'F002A4', key='tipo', value='valor')

# map in itens_higiene_df
itens_higiene_df['domicilio_tem_luvas_descartaveis'] = itens_higiene_df['domicilio_tem_luvas_descartaveis']\
    .map(f002a4_dict)
    
# check nan
print('NaN: ', itens_higiene_df['domicilio_tem_luvas_descartaveis'].isna().sum())

# value counts
itens_higiene_df['domicilio_tem_luvas_descartaveis'].value_counts()

NaN:  0

domicilio_tem_luvas_descartaveis
Não         711631
Sim         432730
Não sabe      4836
Name: count, dtype: int64

In [39]:
# map values for F002A5
f002a5_dict = map_code_questao(pnad_dict, 'F002A5', key='tipo', value='valor')

# map in itens_higiene_df
itens_higiene_df['domicilio_tem_agua_sanitaria_desinfetante'] = itens_higiene_df['domicilio_tem_agua_sanitaria_desinfetante']\
    .map(f002a5_dict)

# check nan
print('NaN: ', itens_higiene_df['domicilio_tem_agua_sanitaria_desinfetante'].isna().sum())

# value counts
itens_higiene_df['domicilio_tem_agua_sanitaria_desinfetante'].value_counts()

NaN:  0

domicilio_tem_agua_sanitaria_desinfetante
Sim         1134345
Não           13749
Não sabe       1103
Name: count, dtype: int64

In [40]:
# check
itens_higiene_df.head()

,domicilio_tem_sabao_detergente,domicilio_tem_alcool_70mais,domicilio_tem_mascaras,domicilio_tem_luvas_descartaveis,domicilio_tem_agua_sanitaria_desinfetante
0,Sim,Sim,Sim,Não,Sim
1,Sim,Sim,Sim,Não,Sim
2,Sim,Sim,Sim,Não,Sim
3,Sim,Sim,Sim,Não,Sim
4,Sim,Sim,Sim,Não,Sim

In [41]:
sintomas = {
    'B0011': 'febre',
    'B0012': 'tosse',
    'B0013': 'dor_garganta',
    'B0014': 'dificuldade_respirar',
    'B0015': 'dor_cabeca',
    'B0016': 'dor_peito',
    'B0017': 'nausea',
    'B0018': 'nariz_entupido_coriza',
    'B0019': 'fadiga',
    'B00110': 'dor_olhos',
    'B00111': 'perda_olfato_paladar',
    'B00112': 'dor_muscular',
    'B00113': 'diarreia'
    }

sintomas_df = make_df_from_dict(sintomas, df_9a11)

sintomas_df.head()

,febre,tosse,dor_garganta,dificuldade_respirar,dor_cabeca,dor_peito,nausea,nariz_entupido_coriza,fadiga,dor_olhos,perda_olfato_paladar,dor_muscular,diarreia
0,2,2,2,2,2,2,2,2,2,2,2,2,2
1,2,2,2,2,2,2,2,2,2,2,2,2,2
2,2,2,2,2,2,2,2,2,2,2,2,2,2
3,2,2,2,2,2,2,2,2,2,2,2,2,2
4,2,2,2,2,2,2,2,2,2,2,2,2,2

In [42]:
# map values for B0011
b0011_dict = map_code_questao(pnad_dict, 'B0011', key='tipo', value='valor')

# map in sintomas_df
sintomas_df['febre'] = sintomas_df['febre']\
    .map(b0011_dict)

# check nan
print('NaN: ', sintomas_df['febre'].isna().sum())

# if Ignorado or Não sabe, then "Ignorado / Não sabe"
sintomas_df['febre'] = sintomas_df['febre']\
    .replace({'Ignorado': 'Ignorado / Não sabe', 'Não sabe': 'Ignorado / Não sabe'})

# value counts
sintomas_df['febre'].value_counts()

NaN:  0

febre
Não                    1136024
Sim                       9020
Ignorado / Não sabe       4153
Name: count, dtype: int64

In [43]:
# map values for B0012
b0012_dict = map_code_questao(pnad_dict, 'B0012', key='tipo', value='valor')

# map in sintomas_df
sintomas_df['tosse'] = sintomas_df['tosse']\
    .map(b0012_dict)
    
# check nan
print('NaN: ', sintomas_df['tosse'].isna().sum())

# if Ignorado or Não sabe, then "Ignorado / Não sabe"
sintomas_df['tosse'] = sintomas_df['tosse']\
    .replace({'Ignorado': 'Ignorado / Não sabe', 'Não sabe': 'Ignorado / Não sabe'})

# value counts
sintomas_df['tosse'].value_counts()

NaN:  0

tosse
Não                    1129630
Sim                      15373
Ignorado / Não sabe       4194
Name: count, dtype: int64

In [44]:
# map values for B0013
b0013_dict = map_code_questao(pnad_dict, 'B0013', key='tipo', value='valor')

# map in sintomas_df
sintomas_df['dor_garganta'] = sintomas_df['dor_garganta']\
    .map(b0013_dict)

# check nan
print('NaN: ', sintomas_df['dor_garganta'].isna().sum())

# if Ignorado or Não sabe, then "Ignorado / Não sabe"
sintomas_df['dor_garganta'] = sintomas_df['dor_garganta']\
    .replace({'Ignorado': 'Ignorado / Não sabe', 'Não sabe': 'Ignorado / Não sabe'})

# value counts
sintomas_df['dor_garganta'].value_counts()

NaN:  0

dor_garganta
Não                    1132408
Sim                      12557
Ignorado / Não sabe       4232
Name: count, dtype: int64

In [45]:
# map values for B0014
b0014_dict = map_code_questao(pnad_dict, 'B0014', key='tipo', value='valor')

# map in sintomas_df
sintomas_df['dificuldade_respirar'] = sintomas_df['dificuldade_respirar']\
    .map(b0014_dict)

# check nan
print('NaN: ', sintomas_df['dificuldade_respirar'].isna().sum())

# if Ignorado or Não sabe, then "Ignorado / Não sabe"
sintomas_df['dificuldade_respirar'] = sintomas_df['dificuldade_respirar']\
    .replace({'Ignorado': 'Ignorado / Não sabe', 'Não sabe': 'Ignorado / Não sabe'})

# value counts
sintomas_df['dificuldade_respirar'].value_counts()

NaN:  0

dificuldade_respirar
Não                    1140175
Sim                       4799
Ignorado / Não sabe       4223
Name: count, dtype: int64

In [46]:
# map values for B0015
b0015_dict = map_code_questao(pnad_dict, 'B0015', key='tipo', value='valor')

# map in sintomas_df
sintomas_df['dor_cabeca'] = sintomas_df['dor_cabeca']\
    .map(b0015_dict)

# check nan
print('NaN: ', sintomas_df['dor_cabeca'].isna().sum())

# if Ignorado or Não sabe, then "Ignorado / Não sabe"
sintomas_df['dor_cabeca'] = sintomas_df['dor_cabeca']\
    .replace({'Ignorado': 'Ignorado / Não sabe', 'Não sabe': 'Ignorado / Não sabe'})

# value counts
sintomas_df['dor_cabeca'].value_counts()

NaN:  0

dor_cabeca
Não                    1125929
Sim                      18960
Ignorado / Não sabe       4308
Name: count, dtype: int64

In [47]:
# map values for B0016
b0016_dict = map_code_questao(pnad_dict, 'B0016', key='tipo', value='valor')

# map in sintomas_df
sintomas_df['dor_peito'] = sintomas_df['dor_peito']\
    .map(b0016_dict)

# check nan
print('NaN: ', sintomas_df['dor_peito'].isna().sum())

# if Ignorado or Não sabe, then "Ignorado / Não sabe"
sintomas_df['dor_peito'] = sintomas_df['dor_peito']\
    .replace({'Ignorado': 'Ignorado / Não sabe', 'Não sabe': 'Ignorado / Não sabe'})

# value counts
sintomas_df['dor_peito'].value_counts()

NaN:  0

dor_peito
Não                    1141462
Ignorado / Não sabe       4287
Sim                       3448
Name: count, dtype: int64

In [48]:
# map values for B0017
b0017_dict = map_code_questao(pnad_dict, 'B0017', key='tipo', value='valor')

# map in sintomas_df
sintomas_df['nausea'] = sintomas_df['nausea']\
    .map(b0017_dict)

# check nan
print('NaN: ', sintomas_df['nausea'].isna().sum())

# if Ignorado or Não sabe, then "Ignorado / Não sabe"
sintomas_df['nausea'] = sintomas_df['nausea']\
    .replace({'Ignorado': 'Ignorado / Não sabe', 'Não sabe': 'Ignorado / Não sabe'})

# value counts
sintomas_df['nausea'].value_counts()

NaN:  0

nausea
Não                    1140959
Ignorado / Não sabe       4280
Sim                       3958
Name: count, dtype: int64

In [49]:
# map values for B0018
b0018_dict = map_code_questao(pnad_dict, 'B0018', key='tipo', value='valor')

# map in sintomas_df
sintomas_df['nariz_entupido_coriza'] = sintomas_df['nariz_entupido_coriza']\
    .map(b0018_dict)

# check nan
print('NaN: ', sintomas_df['nariz_entupido_coriza'].isna().sum())

# if Ignorado or Não sabe, then "Ignorado / Não sabe"
sintomas_df['nariz_entupido_coriza'] = sintomas_df['nariz_entupido_coriza']\
    .replace({'Ignorado': 'Ignorado / Não sabe', 'Não sabe': 'Ignorado / Não sabe'})

# value counts
sintomas_df['nariz_entupido_coriza'].value_counts()

NaN:  0

nariz_entupido_coriza
Não                    1128818
Sim                      16140
Ignorado / Não sabe       4239
Name: count, dtype: int64

In [50]:
# map values for B0019
b0019_dict = map_code_questao(pnad_dict, 'B0019', key='tipo', value='valor')

# map in sintomas_df
sintomas_df['fadiga'] = sintomas_df['fadiga']\
    .map(b0019_dict)

# check nan
print('NaN: ', sintomas_df['fadiga'].isna().sum())

# if Ignorado or Não sabe, then "Ignorado / Não sabe"
sintomas_df['fadiga'] = sintomas_df['fadiga']\
    .replace({'Ignorado': 'Ignorado / Não sabe', 'Não sabe': 'Ignorado / Não sabe'})

# value counts
sintomas_df['fadiga'].value_counts()

NaN:  0

fadiga
Não                    1136724
Sim                       8208
Ignorado / Não sabe       4265
Name: count, dtype: int64

In [51]:
# map values for B00110
b00110_dict = map_code_questao(pnad_dict, 'B00110', key='tipo', value='valor')

# map in sintomas_df
sintomas_df['dor_olhos'] = sintomas_df['dor_olhos']\
    .map(b00110_dict)

# check nan
print('NaN: ', sintomas_df['dor_olhos'].isna().sum())

# if Ignorado or Não sabe, then "Ignorado / Não sabe"
sintomas_df['dor_olhos'] = sintomas_df['dor_olhos']\
    .replace({'Ignorado': 'Ignorado / Não sabe', 'Não sabe': 'Ignorado / Não sabe'})

# value counts
sintomas_df['dor_olhos'].value_counts()

NaN:  0

dor_olhos
Não                    1140098
Ignorado / Não sabe       5428
Sim                       3671
Name: count, dtype: int64

In [52]:
# map values for B00111
b00111_dict = map_code_questao(pnad_dict, 'B00111', key='tipo', value='valor')

# map in sintomas_df
sintomas_df['perda_olfato_paladar'] = sintomas_df['perda_olfato_paladar']\
    .map(b00111_dict)

# check nan
print('NaN: ', sintomas_df['perda_olfato_paladar'].isna().sum())

# if Ignorado or Não sabe, then "Ignorado / Não sabe"
sintomas_df['perda_olfato_paladar'] = sintomas_df['perda_olfato_paladar']\
    .replace({'Ignorado': 'Ignorado / Não sabe', 'Não sabe': 'Ignorado / Não sabe'})

# value counts
sintomas_df['perda_olfato_paladar'].value_counts()

NaN:  0

perda_olfato_paladar
Não                    1139426
Ignorado / Não sabe       5358
Sim                       4413
Name: count, dtype: int64

In [53]:
# map values for B00112
b00112_dict = map_code_questao(pnad_dict, 'B00112', key='tipo', value='valor')

# map in sintomas_df
sintomas_df['dor_muscular'] = sintomas_df['dor_muscular']\
    .map(b00112_dict)

# check nan
print('NaN: ', sintomas_df['dor_muscular'].isna().sum())

# if Ignorado or Não sabe, then "Ignorado / Não sabe"
sintomas_df['dor_muscular'] = sintomas_df['dor_muscular']\
    .replace({'Ignorado': 'Ignorado / Não sabe', 'Não sabe': 'Ignorado / Não sabe'})

# value counts
sintomas_df['dor_muscular'].value_counts()

NaN:  0

dor_muscular
Não                    1133070
Sim                      10883
Ignorado / Não sabe       5244
Name: count, dtype: int64

In [54]:
# map values for B00113
b00113_dict = map_code_questao(pnad_dict, 'B00113', key='tipo', value='valor')

# map in sintomas_df
sintomas_df['diarreia'] = sintomas_df['diarreia']\
    .map(b00113_dict)

# check nan
print('NaN: ', sintomas_df['diarreia'].isna().sum())

# if Ignorado or Não sabe, then "Ignorado / Não sabe"
sintomas_df['diarreia'] = sintomas_df['diarreia']\
    .replace({'Ignorado': 'Ignorado / Não sabe', 'Não sabe': 'Ignorado / Não sabe'})

# value counts
sintomas_df['diarreia'].value_counts()

NaN:  0

diarreia
Não                    1139488
Ignorado / Não sabe       5408
Sim                       4301
Name: count, dtype: int64

In [55]:
# check df
sintomas_df.head()

,febre,tosse,dor_garganta,dificuldade_respirar,dor_cabeca,dor_peito,nausea,nariz_entupido_coriza,fadiga,dor_olhos,perda_olfato_paladar,dor_muscular,diarreia
0,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não
1,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não
2,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não
3,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não
4,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não

In [56]:
providencias = {
    'B011': 'como_restringiu_contato_fisico',
    'B002': 'compareceu_estabelecimento_de_saude',
    'B0031': 'ficou_em_casa',
    'B0032': 'ligou_profissional_saude',
    'B0033': 'automedicou',
    'B0034': 'prescricao_medica',
    'B0035': 'visita_profissional_saude_sus',
    'B0036': 'visita_de_profissional_saude_particular',
    'B0037': 'outra_providencia'
}

providencias_df = make_df_from_dict(providencias, df_9a11)

providencias_df.head()

,como_restringiu_contato_fisico,compareceu_estabelecimento_de_saude,ficou_em_casa,ligou_profissional_saude,automedicou,prescricao_medica,visita_profissional_saude_sus,visita_de_profissional_saude_particular,outra_providencia
0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
# check nan % for each column
for col in providencias_df.columns:
    if providencias_df[col].isna().sum() > 0:
        print(f'{col}: {providencias_df[col].isna().mean():.2%}')

compareceu_estabelecimento_de_saude: 96.09%
ficou_em_casa: 97.12%
ligou_profissional_saude: 97.12%
automedicou: 97.12%
prescricao_medica: 97.12%
visita_profissional_saude_sus: 97.12%
visita_de_profissional_saude_particular: 97.12%
outra_providencia: 97.12%

In [58]:
# map values for B011
b011_dict = map_code_questao(pnad_dict, 'B011', key='tipo', value='valor')

# map in providencias_df
providencias_df['como_restringiu_contato_fisico'] = providencias_df['como_restringiu_contato_fisico']\
    .map(b011_dict)
    
# check nan
print('NaN: ', providencias_df['como_restringiu_contato_fisico'].isna().sum())

# value counts
providencias_df['como_restringiu_contato_fisico'].value_counts()

NaN:  0

como_restringiu_contato_fisico
Reduziu o contato com as pessoas, mas continuou saindo de casa para trabalho ou atividades não essenciais e ou ou recebendo visitas    484513
Ficou em casa e só saiu em caso de necessidade básica                                                                                  458950
Ficou rigorosamente em casa                                                                                                            154593
Não fez restrição, levou vida normal como antes da pandemia                                                                             46194
Ignorado                                                                                                                                 4947
Name: count, dtype: int64

In [59]:
# for all other columns, same dict,
# Não informado = NaN
# 1.0 = Sim, 2.0 = Não, 9.0 = Ignorado / Não aplicável
providencia_dicts = {1.0: 'Sim', 2.0: 'Não', 9.0: 'Ignorado / Não aplicável'}

# get all columns that are not B011
for col in providencias_df.columns[1:]:
    # map in providencias_df
    providencias_df[col] = providencias_df[col]\
        .map(providencia_dicts)
    
    # NaN to Não informado
    providencias_df[col] = providencias_df[col]\
        .fillna('Ignorado / Não aplicável')
    
    # check nan
    print(f'NaN {col}: ', providencias_df[col].isna().sum())
    
    # value counts
    print(providencias_df[col].value_counts())

NaN compareceu_estabelecimento_de_saude:  0
compareceu_estabelecimento_de_saude
Ignorado / Não aplicável    1104260
Não                           33141
Sim                           11796
Name: count, dtype: int64
NaN ficou_em_casa:  0
ficou_em_casa
Ignorado / Não aplicável    1116140
Sim                           24320
Não                            8737
Name: count, dtype: int64
NaN ligou_profissional_saude:  0
ligou_profissional_saude
Ignorado / Não aplicável    1116206
Não                           32016
Sim                             975
Name: count, dtype: int64
NaN automedicou:  0
automedicou
Ignorado / Não aplicável    1116153
Sim                           20408
Não                           12636
Name: count, dtype: int64
NaN prescricao_medica:  0
prescricao_medica
Ignorado / Não aplicável    1116196
Não                           29333
Sim                            3668
Name: count, dtype: int64
NaN visita_profissional_saude_sus:  0
visita_profissional_saude_sus
Ignorado / Não aplicável    1116209
Não                           32245
Sim                             743
Name: count, dtype: int64
NaN visita_de_profissional_saude_particular:  0
visita_de_profissional_saude_particular
Ignorado / Não aplicável    1116210
Não                           32839
Sim                             148
Name: count, dtype: int64
NaN outra_providencia:  0
outra_providencia
Ignorado / Não aplicável    1116228
Não                           32235
Sim                             734
Name: count, dtype: int64

In [60]:
# check df
providencias_df.head()

,como_restringiu_contato_fisico,compareceu_estabelecimento_de_saude,ficou_em_casa,ligou_profissional_saude,automedicou,prescricao_medica,visita_profissional_saude_sus,visita_de_profissional_saude_particular,outra_providencia
0,"Reduziu o contato com as pessoas, mas continuo...",Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável
1,"Reduziu o contato com as pessoas, mas continuo...",Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável
2,Ficou rigorosamente em casa,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável
3,Ficou rigorosamente em casa,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável
4,"Reduziu o contato com as pessoas, mas continuo...",Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável

In [61]:
atendimento = {
    'B0041': 'unidade_basica_saude_sus',
    'B0042': 'pronto_socorro_sus',
    'B0043': 'hospital_sus',
    'B0044': 'ambulatorio_consultorio_privado_ou_forcas_armadas',
    'B0045': 'pronto_socorro_privado_ou_forcas_armadas',
    'B0046': 'hospital_privado_ou_forcas_armadas',
    'B005': 'internado_um_dia_mais',
    'B006': 'sedado_entubado_ventilado',
    'B007': 'tem_plano_saude',
    }

atendimento_df = make_df_from_dict(atendimento, df_9a11)

atendimento_df.head()

,unidade_basica_saude_sus,pronto_socorro_sus,hospital_sus,ambulatorio_consultorio_privado_ou_forcas_armadas,pronto_socorro_privado_ou_forcas_armadas,hospital_privado_ou_forcas_armadas,internado_um_dia_mais,sedado_entubado_ventilado,tem_plano_saude
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [62]:
# check nan % for each column
for col in atendimento_df.columns:
    if atendimento_df[col].isna().sum() > 0:
        print(f'{col}: {atendimento_df[col].isna().mean():.2%}')

unidade_basica_saude_sus: 98.97%
pronto_socorro_sus: 98.97%
hospital_sus: 98.97%
ambulatorio_consultorio_privado_ou_forcas_armadas: 98.97%
pronto_socorro_privado_ou_forcas_armadas: 98.97%
hospital_privado_ou_forcas_armadas: 98.97%
internado_um_dia_mais: 99.49%
sedado_entubado_ventilado: 99.95%

In [63]:
# for questions 'B0041-B0046', dict is the same: 1.0 = Sim, 2.0 = Não, 9.0 = Ignorado / Não aplicável
atendimento_dicts = {1.0: 'Sim', 2.0: 'Não', 9.0: 'Ignorado / Não aplicável'}

for col in atendimento_df.columns[:6]:
    # map in atendimento_df
    atendimento_df[col] = atendimento_df[col]\
        .map(atendimento_dicts)
    
    # NaN to Não informado
    atendimento_df[col] = atendimento_df[col]\
        .fillna('Ignorado / Não aplicável')
    
    # check nan
    print(f'NaN {col}: ', atendimento_df[col].isna().sum())
    
    # value counts
    print(atendimento_df[col].value_counts())

NaN unidade_basica_saude_sus:  0
unidade_basica_saude_sus
Ignorado / Não aplicável    1137471
Não                            6135
Sim                            5591
Name: count, dtype: int64
NaN pronto_socorro_sus:  0
pronto_socorro_sus
Ignorado / Não aplicável    1137490
Não                            9288
Sim                            2419
Name: count, dtype: int64
NaN hospital_sus:  0
hospital_sus
Ignorado / Não aplicável    1137505
Não                            9568
Sim                            2124
Name: count, dtype: int64
NaN ambulatorio_consultorio_privado_ou_forcas_armadas:  0
ambulatorio_consultorio_privado_ou_forcas_armadas
Ignorado / Não aplicável    1137509
Não                           10603
Sim                            1085
Name: count, dtype: int64
NaN pronto_socorro_privado_ou_forcas_armadas:  0
pronto_socorro_privado_ou_forcas_armadas
Ignorado / Não aplicável    1137505
Não                           11215
Sim                             477
Name: count, dtype: int64
NaN hospital_privado_ou_forcas_armadas:  0
hospital_privado_ou_forcas_armadas
Ignorado / Não aplicável    1137499
Não                           10518
Sim                            1180
Name: count, dtype: int64

In [64]:
# map values for B005
b005_dict = map_code_questao(pnad_dict, 'B005', key='tipo', value='valor')

# map in atendimento_df
atendimento_df['internado_um_dia_mais'] = atendimento_df['internado_um_dia_mais']\
    .map(b005_dict)

# NaN to Não informado
atendimento_df['internado_um_dia_mais'] = atendimento_df['internado_um_dia_mais']\
    .fillna('Ignorado / Não aplicável')
    
# Não aplicável to "Ignorado / Não aplicável"
atendimento_df['internado_um_dia_mais'] = atendimento_df['internado_um_dia_mais']\
    .replace({'Não aplicável': 'Ignorado / Não aplicável'})

# check nan
print('NaN: ', atendimento_df['internado_um_dia_mais'].isna().sum())

# value counts
atendimento_df['internado_um_dia_mais'].value_counts()

NaN:  0

internado_um_dia_mais
Ignorado / Não aplicável    1143370
Não                            5188
Sim                             579
Não foi atendido                 60
Name: count, dtype: int64

In [65]:
# B006 = atendimento_dicts
# map in atendimento_df
atendimento_df['sedado_entubado_ventilado'] = atendimento_df['sedado_entubado_ventilado']\
    .map(atendimento_dicts)

# NaN to Não informado
atendimento_df['sedado_entubado_ventilado'] = atendimento_df['sedado_entubado_ventilado']\
    .fillna('Ignorado / Não aplicável')

# check nan
print('NaN: ', atendimento_df['sedado_entubado_ventilado'].isna().sum())

# value counts
atendimento_df['sedado_entubado_ventilado'].value_counts()

NaN:  0

sedado_entubado_ventilado
Ignorado / Não aplicável    1148619
Não                             448
Sim                             130
Name: count, dtype: int64

In [66]:
# map values for B007
b007_dict = map_code_questao(pnad_dict, 'B007', key='tipo', value='valor')

# map in atendimento_df
atendimento_df['tem_plano_saude'] = atendimento_df['tem_plano_saude']\
    .map(b007_dict)

# NaN to Não informado
atendimento_df['tem_plano_saude'] = atendimento_df['tem_plano_saude']\
    .fillna('Não informado')

# check nan
print('NaN: ', atendimento_df['tem_plano_saude'].isna().sum())

# value counts
atendimento_df['tem_plano_saude'].value_counts()

NaN:  0

tem_plano_saude
Não         886199
Sim         260528
Ignorado      2470
Name: count, dtype: int64

In [67]:
atendimento_df.head()

,unidade_basica_saude_sus,pronto_socorro_sus,hospital_sus,ambulatorio_consultorio_privado_ou_forcas_armadas,pronto_socorro_privado_ou_forcas_armadas,hospital_privado_ou_forcas_armadas,internado_um_dia_mais,sedado_entubado_ventilado,tem_plano_saude
0,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Sim
1,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Não
2,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Sim
3,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Sim
4,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Não

In [68]:
testagem = {
    'B008': 'realizou_teste_coronavirus',
    'B009A': 'cotonete',
    'B009B': 'resultado_cotonete',
    'B009C': 'coleta_sangue_dedo',
    'B009D': 'resultado_sangue_dedo',
    'B009E': 'coleta_sanque_braco',
    'B009F': 'resultado_sangue_braco'
}

testagem_df = make_df_from_dict(testagem, df_9a11)

testagem_df.head()

,realizou_teste_coronavirus,cotonete,resultado_cotonete,coleta_sangue_dedo,resultado_sangue_dedo,coleta_sanque_braco,resultado_sangue_braco
0,2,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN
3,2,NaN,NaN,NaN,NaN,NaN,NaN
4,2,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
for col in testagem_df.columns:
    if testagem_df[col].isna().sum() > 0:
        print(f'{col}: {testagem_df[col].isna().mean():.2%}')

cotonete: 88.38%
resultado_cotonete: 95.57%
coleta_sangue_dedo: 88.38%
resultado_sangue_dedo: 94.53%
coleta_sanque_braco: 88.38%
resultado_sangue_braco: 96.63%

In [70]:
# map values for B008
b008_dict = map_code_questao(pnad_dict, 'B008', key='tipo', value='valor')

# map in testagem_df
testagem_df['realizou_teste_coronavirus'] = testagem_df['realizou_teste_coronavirus']\
    .map(b008_dict)
    
# check nan
print('NaN: ', testagem_df['realizou_teste_coronavirus'].isna().sum())

# value counts
testagem_df['realizou_teste_coronavirus'].value_counts()

NaN:  0

realizou_teste_coronavirus
Não         1013242
Sim          133542
Ignorado       2413
Name: count, dtype: int64

In [71]:
# map values for B009A
b009a_dict = map_code_questao(pnad_dict, 'B009A', key='tipo', value='valor')

# map in testagem_df
testagem_df['cotonete'] = testagem_df['cotonete']\
    .map(b009a_dict)

# NaN to Não informado
testagem_df['cotonete'] = testagem_df['cotonete']\
    .fillna('Ignorado') # verificar se deveria ser Ignorado

# check nan
print('NaN: ', testagem_df['cotonete'].isna().sum())

# value counts
testagem_df['cotonete'].value_counts()

NaN:  0

cotonete
Ignorado    1016106
Não           82160
Sim           50931
Name: count, dtype: int64

In [72]:
b009b_dict = pnad_dict.query('questao == "B009B"').copy()
#  9 to Ignorado / Não aplicável
b009b_dict['valor'] = np.where(b009b_dict['tipo'] == 9, 
                            'Ignorado / Não aplicável', 
                            b009b_dict['valor'])

# map_code_questao
b009b_dict = map_code_questao(b009b_dict, 'B009B', key='tipo', value='valor')

# map in testagem_df
testagem_df['resultado_cotonete'] = testagem_df['resultado_cotonete']\
    .map(b009b_dict)

# NaN to Não informado
testagem_df['resultado_cotonete'] = testagem_df['resultado_cotonete']\
    .fillna('Ignorado / Não aplicável')

# check nan
print('NaN: ', testagem_df['resultado_cotonete'].isna().sum())

# value counts
testagem_df['resultado_cotonete'].value_counts()

NaN:  0

resultado_cotonete
Ignorado / Não aplicável         1098273
Negativo                           34896
Positivo                           14450
Ainda não recebeu o resultado       1300
Inconclusivo                         278
Name: count, dtype: int64

In [73]:
# map values for B009C
b009c_dict = map_code_questao(pnad_dict, 'B009C', key='tipo', value='valor')

# map in testagem_df
testagem_df['coleta_sangue_dedo'] = testagem_df['coleta_sangue_dedo']\
    .map(b009c_dict)

# NaN to Não informado
testagem_df['coleta_sangue_dedo'] = testagem_df['coleta_sangue_dedo']\
    .fillna('Ignorado') # avaliar se deveria ser 'Ignorado / Não aplicável'

# check nan
print('NaN: ', testagem_df['coleta_sangue_dedo'].isna().sum())

# value counts
testagem_df['coleta_sangue_dedo'].value_counts()

NaN:  0

coleta_sangue_dedo
Ignorado    1016149
Não           70148
Sim           62900
Name: count, dtype: int64

In [74]:
# map values for B009D
b009d_dict = pnad_dict.query('questao == "B009D"').copy()
#  9 to Ignorado / Não aplicável
b009d_dict['valor'] = np.where(b009d_dict['tipo'] == 9, 
                            'Ignorado / Não aplicável', 
                            b009d_dict['valor'])

# map_code_questao
b009d_dict = map_code_questao(b009d_dict, 'B009D', key='tipo', value='valor')

# map in testagem_df
testagem_df['resultado_sangue_dedo'] = testagem_df['resultado_sangue_dedo']\
    .map(b009d_dict)

# NaN to Não informado
testagem_df['resultado_sangue_dedo'] = testagem_df['resultado_sangue_dedo']\
    .fillna('Ignorado / Não aplicável')

# check nan
print('NaN: ', testagem_df['resultado_sangue_dedo'].isna().sum())

# value counts
testagem_df['resultado_sangue_dedo'].value_counts()

NaN:  0

resultado_sangue_dedo
Ignorado / Não aplicável         1086311
Negativo                           49971
Positivo                           12417
Inconclusivo                         274
Ainda não recebeu o resultado        224
Name: count, dtype: int64

In [75]:
# map values for B009E
b009e_dict = map_code_questao(pnad_dict, 'B009E', key='tipo', value='valor')

# map in testagem_df
testagem_df['coleta_sanque_braco'] = testagem_df['coleta_sanque_braco']\
    .map(b009e_dict)

# NaN to Não informado
testagem_df['coleta_sanque_braco'] = testagem_df['coleta_sanque_braco']\
    .fillna('Ignorado / Não aplicável')

# check nan
print('NaN: ', testagem_df['coleta_sanque_braco'].isna().sum())

# value counts
testagem_df['coleta_sanque_braco'].value_counts()

NaN:  0

coleta_sanque_braco
Ignorado / Não aplicável    1015655
Não                           94311
Sim                           38723
Ignorado                        508
Name: count, dtype: int64

In [76]:
# map values for B009F
b009f_dict = pnad_dict.query('questao == "B009F"').copy()
#  9 to Ignorado / Não aplicável
b009f_dict['valor'] = np.where(b009f_dict['tipo'] == 9, 
                            'Ignorado / Não aplicável', 
                            b009f_dict['valor'])
# map_code_questao
b009f_dict = map_code_questao(b009f_dict, 'B009F', key='tipo', value='valor')

# map in testagem_df
testagem_df['resultado_sangue_braco'] = testagem_df['resultado_sangue_braco']\
    .map(b009f_dict)

# NaN to Não informado
testagem_df['resultado_sangue_braco'] = testagem_df['resultado_sangue_braco']\
    .fillna('Ignorado / Não aplicável')

# check nan
print('NaN: ', testagem_df['resultado_sangue_braco'].isna().sum())

# value counts
testagem_df['resultado_sangue_braco'].value_counts()

NaN:  0

resultado_sangue_braco
Ignorado / Não aplicável         1110487
Negativo                           27068
Positivo                           10909
Ainda não recebeu o resultado        535
Inconclusivo                         198
Name: count, dtype: int64

In [77]:
testagem_df.head()

,realizou_teste_coronavirus,cotonete,resultado_cotonete,coleta_sangue_dedo,resultado_sangue_dedo,coleta_sanque_braco,resultado_sangue_braco
0,Não,Ignorado,Ignorado / Não aplicável,Ignorado,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável
1,Não,Ignorado,Ignorado / Não aplicável,Ignorado,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável
2,Não,Ignorado,Ignorado / Não aplicável,Ignorado,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável
3,Não,Ignorado,Ignorado / Não aplicável,Ignorado,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável
4,Não,Ignorado,Ignorado / Não aplicável,Ignorado,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável

In [78]:
comorbidades = {
    'B0101': 'diabetes',
    'B0102': 'hipertensao',
    'B0103': 'doenca_respiratoria_cronica_ou_pulmao',
    'B0104': 'doenca_cardiaca',
    'B0105': 'depressao',
    'B0106': 'cancer',
}

comorbidades_df = make_df_from_dict(comorbidades, df_9a11)

comorbidades_df.head()

,diabetes,hipertensao,doenca_respiratoria_cronica_ou_pulmao,doenca_cardiaca,depressao,cancer
0,2,2,2,2,2,2
1,2,2,2,2,2,2
2,2,2,2,2,2,2
3,2,2,2,2,2,2
4,2,2,2,2,2,2

In [79]:
# check nan % for each column
for col in comorbidades_df.columns:
    if comorbidades_df[col].isna().sum() > 0:
        print(f'{col}: {comorbidades_df[col].isna().mean():.2%}')

In [80]:
# dict are the same for all questions
# 1.0 = Sim, 2.0 = Não, 9.0 = Ignorado / Não aplicável
comorbidades_dicts = {1.0: 'Sim', 2.0: 'Não', 9.0: 'Ignorado / Não aplicável'}

for col in comorbidades_df.columns:
    # map in comorbidades_df
    comorbidades_df[col] = comorbidades_df[col]\
        .map(comorbidades_dicts)
    
    # NaN to Não informado
    comorbidades_df[col] = comorbidades_df[col]\
        .fillna('Ignorado / Não aplicável')
    
    # check nan
    print(f'NaN {col}: ', comorbidades_df[col].isna().sum())
    
    # value counts
    print(comorbidades_df[col].value_counts())

NaN diabetes:  0
diabetes
Não                         1078312
Sim                           67417
Ignorado / Não aplicável       3468
Name: count, dtype: int64
NaN hipertensao:  0
hipertensao
Não                         971207
Sim                         174546
Ignorado / Não aplicável      3444
Name: count, dtype: int64
NaN doenca_respiratoria_cronica_ou_pulmao:  0
doenca_respiratoria_cronica_ou_pulmao
Não                         1088412
Sim                           57334
Ignorado / Não aplicável       3451
Name: count, dtype: int64
NaN doenca_cardiaca:  0
doenca_cardiaca
Não                         1113189
Sim                           32542
Ignorado / Não aplicável       3466
Name: count, dtype: int64
NaN depressao:  0
depressao
Não                         1111106
Sim                           34620
Ignorado / Não aplicável       3471
Name: count, dtype: int64
NaN cancer:  0
cancer
Não                         1133093
Sim                           12541
Ignorado / Não aplicável       3563
Name: count, dtype: int64

In [81]:
comorbidades_df.head()

,diabetes,hipertensao,doenca_respiratoria_cronica_ou_pulmao,doenca_cardiaca,depressao,cancer
0,Não,Não,Não,Não,Não,Não
1,Não,Não,Não,Não,Não,Não
2,Não,Não,Não,Não,Não,Não
3,Não,Não,Não,Não,Não,Não
4,Não,Não,Não,Não,Não,Não

In [82]:
trabalho = {
    'C001': 'trabalhou_uma_hora_mais',
    'C002': 'afastamento_trabalho',
    'C003': 'motivo_afastamento',
    'C008': 'horas_semana_trabalho_normal',
    'C009': 'horas_semana_trabalho_realizadas',
    'C01012': 'valor_dinheiro',
    'C007F': 'contrato_trabalho_estava_suspenso',
    'C012': 'trabalho_no_mesmo_local',
    'C013': 'trabalho_remoto',
    'D0051': 'auxilios_emergenciais_coronavirus',
    'D0053': 'valor_recebido_auxilios_emergenciais',
    'D0061': 'seguro_desemprego',
    'D0063': 'valor_recebido_seguro_desemprego',
    'E001': 'solicitou_emprestimo'
    }

trabalho_df = make_df_from_dict(trabalho, df_9a11)

trabalho_df.head()

,trabalhou_uma_hora_mais,afastamento_trabalho,motivo_afastamento,horas_semana_trabalho_normal,horas_semana_trabalho_realizadas,valor_dinheiro,contrato_trabalho_estava_suspenso,trabalho_no_mesmo_local,trabalho_remoto,auxilios_emergenciais_coronavirus,valor_recebido_auxilios_emergenciais,seguro_desemprego,valor_recebido_seguro_desemprego,solicitou_emprestimo
0,1.0,NaN,NaN,48.0,48.0,1045.0,NaN,1.0,NaN,1,1200.0,2,NaN,3
1,1.0,NaN,NaN,36.0,36.0,1045.0,NaN,1.0,NaN,1,1200.0,2,NaN,3
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1200.0,2,NaN,3
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1200.0,2,NaN,3
4,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,3

In [83]:
# check nan % for each column
for col in trabalho_df.columns:
    if trabalho_df[col].isna().sum() > 0:
        print(f'{col}: {trabalho_df[col].isna().mean():.2%}')

trabalhou_uma_hora_mais: 17.46%
afastamento_trabalho: 54.38%
motivo_afastamento: 96.38%
horas_semana_trabalho_normal: 62.06%
horas_semana_trabalho_realizadas: 62.06%
valor_dinheiro: 63.21%
contrato_trabalho_estava_suspenso: 99.64%
trabalho_no_mesmo_local: 64.40%
trabalho_remoto: 95.76%
valor_recebido_auxilios_emergenciais: 50.02%
valor_recebido_seguro_desemprego: 98.34%

In [84]:
# map values for C001
# 1 = Sim, 2 = Não / Não aplicável
trabalho_dict = {1.0: 'Sim', 2.0: 'Não / Não aplicável'}

# map in trabalho_df
trabalho_df['trabalhou_uma_hora_mais'] = trabalho_df['trabalhou_uma_hora_mais']\
    .map(trabalho_dict)

# NaN to Não informado
trabalho_df['trabalhou_uma_hora_mais'] = trabalho_df['trabalhou_uma_hora_mais']\
    .fillna('Não / Não aplicável')

# check nan
print('NaN: ', trabalho_df['trabalhou_uma_hora_mais'].isna().sum())

# value counts
trabalho_df['trabalhou_uma_hora_mais'].value_counts()

NaN:  0

trabalhou_uma_hora_mais
Não / Não aplicável    724935
Sim                    424262
Name: count, dtype: int64

In [85]:
# map in trabalho_df
trabalho_df['afastamento_trabalho'] = trabalho_df['afastamento_trabalho']\
    .map(trabalho_dict)

# NaN to Não informado
trabalho_df['afastamento_trabalho'] = trabalho_df['afastamento_trabalho']\
    .fillna('Não / Não aplicável')

# check nan
print('NaN: ', trabalho_df['afastamento_trabalho'].isna().sum())

# value counts
trabalho_df['afastamento_trabalho'].value_counts()

NaN:  0

afastamento_trabalho
Não / Não aplicável    1107592
Sim                      41605
Name: count, dtype: int64

In [86]:
# map values for C003
c003_dict = map_code_questao(pnad_dict, 'C003', key='tipo', value='valor')

# map in trabalho_df
trabalho_df['motivo_afastamento'] = trabalho_df['motivo_afastamento']\
    .map(c003_dict)

# NaN to Não informado
trabalho_df['motivo_afastamento'] = trabalho_df['motivo_afastamento']\
    .fillna('Ignorado / Não aplicável')
    
# Não aplicável to "Ignorado / Não aplicável"
trabalho_df['motivo_afastamento'] = trabalho_df['motivo_afastamento']\
    .replace({'Não aplicável': 'Ignorado / Não aplicável'})

# check nan
print('NaN: ', trabalho_df['motivo_afastamento'].isna().sum())

# value counts
trabalho_df['motivo_afastamento'].value_counts()

NaN:  0

motivo_afastamento
Ignorado / Não aplicável                                                                                                                    1109818
Estava em quarentena, isolamento, distanciamento social ou férias coletivas                                                                   26044
Licença remunerada por motivo de saúde ou acidente da própria pessoa                                                                           4489
Férias, folga ou jornada de trabalho variável                                                                                                  3561
Afastamento do próprio negócio ou empresa por motivo de gestação, saúde, acidente, etc., sem ser remunerado por instituto de previdência       2476
Licença maternidade ou paternidade                                                                                                             1320
Fatores ocasionais (mau tempo, paralisação nos serviços de transportes, etc.)                                                                  1061
Outro tipo de licença remunerada (estudo, paternidade, casamento, licença prêmio, etc.)                                                         428
Name: count, dtype: int64

In [87]:
# C007F
c006f_dict = pnad_dict.query('questao == "C007F"').copy()

# 2 to Não / Não aplicável
c006f_dict['valor'] = np.where(c006f_dict['tipo'] == 2, 
                            'Não / Não aplicável', 
                            c006f_dict['valor'])

# map_code_questao
c006f_dict = map_code_questao(c006f_dict, 'C007F', key='tipo', value='valor')

# map in trabalho_df
trabalho_df['contrato_trabalho_estava_suspenso'] = trabalho_df['contrato_trabalho_estava_suspenso']\
    .map(c006f_dict)

# NaN to Não informado
trabalho_df['contrato_trabalho_estava_suspenso'] = trabalho_df['contrato_trabalho_estava_suspenso']\
    .fillna('Não / Não aplicável')

# check nan
print('NaN: ', trabalho_df['contrato_trabalho_estava_suspenso'].isna().sum())

# value counts
trabalho_df['contrato_trabalho_estava_suspenso'].value_counts()

NaN:  0

contrato_trabalho_estava_suspenso
Não / Não aplicável    1147748
Sim                       1449
Name: count, dtype: int64

In [88]:
# C012
c012_dict = pnad_dict.query('questao == "C012"').copy()

# 2 to Não / Não aplicável
c012_dict['valor'] = np.where(c012_dict['tipo'] == 2, 
                            'Não / Não aplicável', 
                            c012_dict['valor'])

# map_code_questao
c012_dict = map_code_questao(c012_dict, 'C012', key='tipo', value='valor')

# map in trabalho_df
trabalho_df['trabalho_no_mesmo_local'] = trabalho_df['trabalho_no_mesmo_local']\
    .map(c012_dict)

# NaN to Não informado
trabalho_df['trabalho_no_mesmo_local'] = trabalho_df['trabalho_no_mesmo_local']\
    .fillna('Não / Não aplicável')

# check nan
print('NaN: ', trabalho_df['trabalho_no_mesmo_local'].isna().sum())

# value counts
trabalho_df['trabalho_no_mesmo_local'].value_counts()

NaN:  0

trabalho_no_mesmo_local
Não / Não aplicável    788875
Sim                    360322
Name: count, dtype: int64

In [89]:
# C013
c013_dict = pnad_dict.query('questao == "C013"').copy()
# 2 to Não / Não aplicável
c013_dict['valor'] = np.where(c013_dict['tipo'] == 2, 
                            'Não / Não aplicável', 
                            c013_dict['valor'])

# map_code_questao
c013_dict = map_code_questao(c013_dict, 'C013', key='tipo', value='valor')

# map in trabalho_df
trabalho_df['trabalho_remoto'] = trabalho_df['trabalho_remoto']\
    .map(c013_dict)

# NaN to Não informado
trabalho_df['trabalho_remoto'] = trabalho_df['trabalho_remoto']\
    .fillna('Não / Não aplicável')

# check nan
print('NaN: ', trabalho_df['trabalho_remoto'].isna().sum())

# value counts
trabalho_df['trabalho_remoto'].value_counts()

NaN:  0

trabalho_remoto
Não / Não aplicável    1115176
Sim                      34021
Name: count, dtype: int64

In [90]:
# map D0051
d0051_dict = map_code_questao(pnad_dict, 'D0051', key='tipo', value='valor')

# map in trabalho_df
trabalho_df['auxilios_emergenciais_coronavirus'] = trabalho_df['auxilios_emergenciais_coronavirus']\
    .map(d0051_dict)

# NaN to Não informado
trabalho_df['auxilios_emergenciais_coronavirus'] = trabalho_df['auxilios_emergenciais_coronavirus']\
    .fillna('Não / Não aplicável')

# check nan
print('NaN: ', trabalho_df['auxilios_emergenciais_coronavirus'].isna().sum())

# value counts
trabalho_df['auxilios_emergenciais_coronavirus'].value_counts()

NaN:  0

auxilios_emergenciais_coronavirus
Não    574880
Sim    574317
Name: count, dtype: int64

In [91]:
# D0061
d0061_dict = map_code_questao(pnad_dict, 'D0061', key='tipo', value='valor')

# map in trabalho_df
trabalho_df['seguro_desemprego'] = trabalho_df['seguro_desemprego']\
    .map(d0061_dict)

# NaN to Não informado
trabalho_df['seguro_desemprego'] = trabalho_df['seguro_desemprego']\
    .fillna('Não / Não aplicável')

# check nan
print('NaN: ', trabalho_df['seguro_desemprego'].isna().sum())

# value counts
trabalho_df['seguro_desemprego'].value_counts()

NaN:  0

seguro_desemprego
Não    1130126
Sim      19071
Name: count, dtype: int64

In [92]:
# E001
e001_dict = map_code_questao(pnad_dict, 'E001', key='tipo', value='valor')

# map in trabalho_df
trabalho_df['solicitou_emprestimo'] = trabalho_df['solicitou_emprestimo']\
    .map(e001_dict)

# NaN to Não informado
trabalho_df['solicitou_emprestimo'] = trabalho_df['solicitou_emprestimo']\
    .fillna('Não informado')

# check nan
print('NaN: ', trabalho_df['solicitou_emprestimo'].isna().sum())

# value counts
trabalho_df['solicitou_emprestimo'].value_counts()

NaN:  0

solicitou_emprestimo
Não solicitou                              1050832
Sim, e pelo menos um morador conseguiu       84804
Sim, mas nenhum morador conseguiu            13561
Name: count, dtype: int64

In [93]:
# NaN to 0
trabalho_df = trabalho_df.fillna(0)

trabalho_df.head()

,trabalhou_uma_hora_mais,afastamento_trabalho,motivo_afastamento,horas_semana_trabalho_normal,horas_semana_trabalho_realizadas,valor_dinheiro,contrato_trabalho_estava_suspenso,trabalho_no_mesmo_local,trabalho_remoto,auxilios_emergenciais_coronavirus,valor_recebido_auxilios_emergenciais,seguro_desemprego,valor_recebido_seguro_desemprego,solicitou_emprestimo
0,Sim,Não / Não aplicável,Ignorado / Não aplicável,48.0,48.0,1045.0,Não / Não aplicável,Sim,Não / Não aplicável,Sim,1200.0,Não,0.0,Não solicitou
1,Sim,Não / Não aplicável,Ignorado / Não aplicável,36.0,36.0,1045.0,Não / Não aplicável,Sim,Não / Não aplicável,Sim,1200.0,Não,0.0,Não solicitou
2,Não / Não aplicável,Não / Não aplicável,Ignorado / Não aplicável,0.0,0.0,0.0,Não / Não aplicável,Não / Não aplicável,Não / Não aplicável,Sim,1200.0,Não,0.0,Não solicitou
3,Não / Não aplicável,Não / Não aplicável,Ignorado / Não aplicável,0.0,0.0,0.0,Não / Não aplicável,Não / Não aplicável,Não / Não aplicável,Sim,1200.0,Não,0.0,Não solicitou
4,Não / Não aplicável,Não / Não aplicável,Ignorado / Não aplicável,0.0,0.0,0.0,Não / Não aplicável,Não / Não aplicável,Não / Não aplicável,Não,0.0,Não,0.0,Não solicitou

In [94]:
# column size
print(f'escola_df: {escola_df.shape}')
print(f'itens_higiene_df: {itens_higiene_df.shape}')
print(f'sintomas_df: {sintomas_df.shape}')
print(f'providencias_df: {providencias_df.shape}')
print(f'atendimento_df: {atendimento_df.shape}')
print(f'testagem_df: {testagem_df.shape}')
print(f'comorbidades_df: {comorbidades_df.shape}')
print(f'trabalho_df: {trabalho_df.shape}')

escola_df: (1149197, 7)
itens_higiene_df: (1149197, 5)
sintomas_df: (1149197, 13)
providencias_df: (1149197, 9)
atendimento_df: (1149197, 9)
testagem_df: (1149197, 7)
comorbidades_df: (1149197, 6)
trabalho_df: (1149197, 14)

In [95]:
dfs = [id_df, escola_df, itens_higiene_df, sintomas_df, providencias_df, 
        atendimento_df, testagem_df, comorbidades_df, trabalho_df]

# merge all dfs
df = pd.concat(dfs, axis=1)

print(f'df: {df.shape}')

df.head()

df: (1149197, 83)

,uf,semana,mes,no_entrevista,estrato,upa,respondente,status_domicilio,proj_populacao,condicao_no_domicilio,idade_morador,sexo,cor_raca,escolaridade,frequenta_escola,atividades_escolares_realizar_em_casa,dias_dedicados_atividades_escolares,tempo_diario_atividades_escolares,ensino_publico_ou_privado,tendo_aulas_presenciais,domicilio_tem_sabao_detergente,domicilio_tem_alcool_70mais,domicilio_tem_mascaras,domicilio_tem_luvas_descartaveis,domicilio_tem_agua_sanitaria_desinfetante,febre,tosse,dor_garganta,dificuldade_respirar,dor_cabeca,dor_peito,nausea,nariz_entupido_coriza,fadiga,dor_olhos,perda_olfato_paladar,dor_muscular,diarreia,como_restringiu_contato_fisico,compareceu_estabelecimento_de_saude,ficou_em_casa,ligou_profissional_saude,automedicou,prescricao_medica,visita_profissional_saude_sus,visita_de_profissional_saude_particular,outra_providencia,unidade_basica_saude_sus,pronto_socorro_sus,hospital_sus,ambulatorio_consultorio_privado_ou_forcas_armadas,pronto_socorro_privado_ou_forcas_armadas,hospital_privado_ou_forcas_armadas,internado_um_dia_mais,sedado_entubado_ventilado,tem_plano_saude,realizou_teste_coronavirus,cotonete,resultado_cotonete,coleta_sangue_dedo,resultado_sangue_dedo,coleta_sanque_braco,resultado_sangue_braco,diabetes,hipertensao,doenca_respiratoria_cronica_ou_pulmao,doenca_cardiaca,depressao,cancer,trabalhou_uma_hora_mais,afastamento_trabalho,motivo_afastamento,horas_semana_trabalho_normal,horas_semana_trabalho_realizadas,valor_dinheiro,contrato_trabalho_estava_suspenso,trabalho_no_mesmo_local,trabalho_remoto,auxilios_emergenciais_coronavirus,valor_recebido_auxilios_emergenciais,seguro_desemprego,valor_recebido_seguro_desemprego,solicitou_emprestimo
0,Rondônia,4,9,5,1110011,110015970,Pessoa moradora,Urbana,152677,Pessoa responsável pelo domicílio,36,masculino,Parda,Médio completo,Não informado,Não informado / Não aplicável,Não informado,Não informado,Não informado,Não informado,Sim,Sim,Sim,Não,Sim,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,"Reduziu o contato com as pessoas, mas continuo...",Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Sim,Não,Ignorado,Ignorado / Não aplicável,Ignorado,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Não,Não,Não,Não,Não,Não,Sim,Não / Não aplicável,Ignorado / Não aplicável,48.0,48.0,1045.0,Não / Não aplicável,Sim,Não / Não aplicável,Sim,1200.0,Não,0.0,Não solicitou
1,Rondônia,4,9,5,1110011,110015970,Pessoa moradora,Urbana,150642,Cônjuge ou companheiro(a) de sexo diferente,30,feminino,Parda,Superior completo,Não informado,Não informado / Não aplicável,Não informado,Não informado,Não informado,Não informado,Sim,Sim,Sim,Não,Sim,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,"Reduziu o contato com as pessoas, mas continuo...",Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Não,Não,Ignorado,Ignorado / Não aplicável,Ignorado,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Não,Não,Não,Não,Não,Não,Sim,Não / Não aplicável,Ignorado / Não aplicável,36.0,36.0,1045.0,Não / Não aplicável,Sim,Não / Não aplicável,Sim,1200.0,Não,0.0,Não solicitou
2,Rondônia,4,9,5,1110011,110015970,Pessoa moradora,Urbana,145237,Filho(a) do responsável e do cônjuge,13,masculino,Parda,Fundamental incompleto,Sim,"Sim, e realizou pelo menos parte delas",5 dias,De 2 horas a menos de 5 horas,Não informado,Não informado,Sim,Sim,Sim,Não,Sim,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Ficou rigorosamente em casa,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Sim,Não,Ignorado,Ignorado / Não aplicável,Ignorado,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Não,Não,Não,Não,Não,Não,Não / Não aplicável,Não / Não aplicável,Ignorado / Não aplicável,0.0,0.0,0.0,Não / Não aplicável,Não / Não aplicável,Não / Não aplicável,Sim,1200.0,Não,0.0,Não solicitou
3,Rondônia,4,9,5,1110011,110015970,Pessoa moradora,Urbana,145237,Filho(a) do responsável e do cônjuge,11,masculino,Parda,Fundamental incompleto,Sim,"Sim, e realizou pelo menos parte delas",5 dias,De 2 horas a menos de 5 horas,Não informado,Não informado,Sim,Sim,Sim,Não,Sim,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Ficou rigorosamente em casa,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Sim,Não,Ignorado,Ignorado / Não aplicável,Ignorado,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Não,Não,Não,Não,Não,Não,Não / Não aplicável,Não / Não aplicável,Ignorado / Não aplicável,0.0,0.0,0.0,Não / Não aplicável,Não / Não aplicável,Não / Não aplicável,Sim,1200.0,Não,0.0,Não solicitou
4,Rondônia,1,9,5,1110011,110015970,Pessoa moradora,Urbana,91889,Pessoa responsável pelo domicílio,57,feminino,Branca,Fundamental incompleto,Não informado,Não informado / Não aplicável,Não informado,Não informado,Não informado,Não informado,Sim,Sim,Sim,Não,Sim,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,Não,"Reduziu o contato com as pessoas, mas continuo...",Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Não,Não,Ignorado,Ignorado / Não aplicável,Ignorado,Ignorado / Não aplicável,Ignorado / Não aplicável,Ignorado / Não aplicável,Não,Não,Não,Não,Não,Não,Não / Não aplicável,Não / Não aplicável,Ignorado / Não aplicável,0.0,0.0,0.0,Não / Não aplicável,Não / Não aplicável,Não / Não aplicável,Não,0.0,Não,0.0,Não solicitou

In [96]:
# as int
df.horas_semana_trabalho_normal = df.horas_semana_trabalho_normal.astype(int)
df.horas_semana_trabalho_realizadas = df.horas_semana_trabalho_realizadas.astype(int)
df.valor_dinheiro = df.valor_dinheiro.astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1149197 entries, 0 to 381437
Data columns (total 83 columns):
 #   Column                                             Non-Null Count    Dtype
---  ------                                             --------------    -----
 0   uf                                                 1149197 non-null  object
 1   semana                                             1149197 non-null  int64
 2   mes                                                1149197 non-null  int64
 3   no_entrevista                                      1149197 non-null  int64
 4   estrato                                            1149197 non-null  int64
 5   upa                                                1149197 non-null  int64
 6   respondente                                        1149197 non-null  object
 7   status_domicilio                                   1149197 non-null  object
 8   proj_populacao                                     1149197 non-null  int64
 9   condicao_no_domicilio                              1149197 non-null  object
 10  idade_morador                                      1149197 non-null  int64
 11  sexo                                               1149197 non-null  object
 12  cor_raca                                           1149197 non-null  object
 13  escolaridade                                       1149197 non-null  object
 14  frequenta_escola                                   1149197 non-null  object
 15  atividades_escolares_realizar_em_casa              1149197 non-null  object
 16  dias_dedicados_atividades_escolares                1149197 non-null  object
 17  tempo_diario_atividades_escolares                  1149197 non-null  object
 18  ensino_publico_ou_privado                          1149197 non-null  object
 19  tendo_aulas_presenciais                            1149197 non-null  object
 20  domicilio_tem_sabao_detergente                     1149197 non-null  object
 21  domicilio_tem_alcool_70mais                        1149197 non-null  object
 22  domicilio_tem_mascaras                             1149197 non-null  object
 23  domicilio_tem_luvas_descartaveis                   1149197 non-null  object
 24  domicilio_tem_agua_sanitaria_desinfetante          1149197 non-null  object
 25  febre                                              1149197 non-null  object
 26  tosse                                              1149197 non-null  object
 27  dor_garganta                                       1149197 non-null  object
 28  dificuldade_respirar                               1149197 non-null  object
 29  dor_cabeca                                         1149197 non-null  object
 30  dor_peito                                          1149197 non-null  object
 31  nausea                                             1149197 non-null  object
 32  nariz_entupido_coriza                              1149197 non-null  object
 33  fadiga                                             1149197 non-null  object
 34  dor_olhos                                          1149197 non-null  object
 35  perda_olfato_paladar                               1149197 non-null  object
 36  dor_muscular                                       1149197 non-null  object
 37  diarreia                                           1149197 non-null  object
 38  como_restringiu_contato_fisico                     1149197 non-null  object
 39  compareceu_estabelecimento_de_saude                1149197 non-null  object
 40  ficou_em_casa                                      1149197 non-null  object
 41  ligou_profissional_saude                           1149197 non-null  object
 42  automedicou                                        1149197 non-null  object
 43  prescricao_medica                                  1149197 non-null  object
 44  visita_profissional_saude_sus                      1149197 non-null  object
 45  visita_de_profissional_saude_particular            1149197 non-null  object
 46  outra_providencia                                  1149197 non-null  object
 47  unidade_basica_saude_sus                           1149197 non-null  object
 48  pronto_socorro_sus                                 1149197 non-null  object
 49  hospital_sus                                       1149197 non-null  object
 50  ambulatorio_consultorio_privado_ou_forcas_armadas  1149197 non-null  object
 51  pronto_socorro_privado_ou_forcas_armadas           1149197 non-null  object
 52  hospital_privado_ou_forcas_armadas                 1149197 non-null  object
 53  internado_um_dia_mais                              1149197 non-null  object
 54  sedado_entubado_ventilado                          1149197 non-null  object
 55  tem_plano_saude                                    1149197 non-null  object
 56  realizou_teste_coronavirus                         1149197 non-null  object
 57  cotonete                                           1149197 non-null  object
 58  resultado_cotonete                                 1149197 non-null  object
 59  coleta_sangue_dedo                                 1149197 non-null  object
 60  resultado_sangue_dedo                              1149197 non-null  object
 61  coleta_sanque_braco                                1149197 non-null  object
 62  resultado_sangue_braco                             1149197 non-null  object
 63  diabetes                                           1149197 non-null  object
 64  hipertensao                                        1149197 non-null  object
 65  doenca_respiratoria_cronica_ou_pulmao              1149197 non-null  object
 66  doenca_cardiaca                                    1149197 non-null  object
 67  depressao                                          1149197 non-null  object
 68  cancer                                             1149197 non-null  object
 69  trabalhou_uma_hora_mais                            1149197 non-null  object
 70  afastamento_trabalho                               1149197 non-null  object
 71  motivo_afastamento                                 1149197 non-null  object
 72  horas_semana_trabalho_normal                       1149197 non-null  int32
 73  horas_semana_trabalho_realizadas                   1149197 non-null  int32
 74  valor_dinheiro                                     1149197 non-null  int32
 75  contrato_trabalho_estava_suspenso                  1149197 non-null  object
 76  trabalho_no_mesmo_local                            1149197 non-null  object
 77  trabalho_remoto                                    1149197 non-null  object
 78  auxilios_emergenciais_coronavirus                  1149197 non-null  object
 79  valor_recebido_auxilios_emergenciais               1149197 non-null  float64
 80  seguro_desemprego                                  1149197 non-null  object
 81  valor_recebido_seguro_desemprego                   1149197 non-null  float64
 82  solicitou_emprestimo                               1149197 non-null  object
dtypes: float64(2), int32(3), int64(7), object(71)
memory usage: 723.3+ MB

In [97]:
# export each df
id_df.to_csv('output/id_df.csv', index=False)
escola_df.to_csv('output/escola_df.csv', index=False)
itens_higiene_df.to_csv('output/itens_higiene_df.csv', index=False)
sintomas_df.to_csv('output/sintomas_df.csv', index=False)
providencias_df.to_csv('output/providencias_df.csv', index=False)
atendimento_df.to_csv('output/atendimento_df.csv', index=False)
testagem_df.to_csv('output/testagem_df.csv', index=False)
comorbidades_df.to_csv('output/comorbidades_df.csv', index=False)
trabalho_df.to_csv('output/trabalho_df.csv', index=False)

# exportar cada
df.to_csv('output/df.csv', index=False)